[submodule "elle"]
	path = elle
	url = git@gitlab.infinit.io:infinit/elle.git
[submodule "beyond/couchdb-python"]
	path = beyond/couchdb-python
	url = https://github.com/infinitdotio/couchdb-python.git
[submodule "bottle"]
	path = bottle
	url = https://github.com/mefyl/bottle.git
[submodule "sendwithus_python"]
	path = sendwithus_python
	url = https://github.com/mefyl/sendwithus_python.git
[submodule "crash_reporting/breakpad"]
	path = crash_reporting/breakpad
	url = https://chromium.googlesource.com/breakpad/breakpad
