[submodule "elle"]
	path = elle
	url = ../elle
[submodule "couchdb-python"]
	path = beyond/couchdb-python
	url = https://github.com/infinitdotio/couchdb-python.git
[submodule "bottle"]
	path = bottle
	url = https://github.com/mefyl/bottle.git
[submodule "sendwithus_python"]
	path = sendwithus_python
	url = https://github.com/infinit/sendwithus_python.git
[submodule "breakpad"]
	path = crash-report/breakpad
	url = https://chromium.googlesource.com/breakpad/breakpad
[submodule "grpc"]
	path = src/memo/grpc/grpc
	url = https://github.com/infinit/grpc.git
[submodule "prometheus-cpp"]
	path = prometheus/prometheus-cpp
	url = https://github.com/infinit/prometheus-cpp.git
