Package: infinit
Maintainer: Quentin Hocquet <mefyl@infinit.io>
Version: ${version}
Homepage: https://www.infinit.sh
Architecture: amd64
Description: Infinit distributed filesystem.
Section: utils
Priority: optional
