@import "variables";

@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

@font-face {
  font-family: 'icons';
  src:url('../fonts/icons.eot');
  src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icons.ttf') format('truetype'),
      url('../fonts/icons.woff') format('woff'),
      url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: @sourcesans;
  font-size: 14px;
  color: @infinitblack;
}

a { text-decoration: none; color: @infinitblack; }
ul { list-style-type: none; }

a.button, button.button, input.button {
  background: @infinitred; border-radius: 3px; font-size: 15px; font-weight: 600;
  box-shadow: 0px 3px 0px 0px darken(#C73F3C, 10%); padding: 6px 10px;
  color: white; text-transform: uppercase; border: none; outline: none;
  display: inline-block; overflow: hidden; .transition();
  font-family: @sourcesans;

  &:hover, &:active { background: darken(@infinitred, 10%); }

  &:focus { outline: none; }

  &.border { background: none; }
  &.border.black {
    border: 1px solid @infinitblack;
    box-shadow: 0px 3px 0px 0px @infinitblack; color: @infinitblack;
  }
  &.border.black:hover { background: lighten(@black, 20%); color: white;}

  &.big { font-size: 25px; padding: 7px 11px;}
}

.spacer { clear: both; }

.popup {
  position: relative; background: #FFF; border-radius: 5px;
  padding: 20px; width: auto; max-width: 500px;
  margin: 20px auto; display: none;
}

#popup_notice {
  text-align: center; padding: 12px 12px; font-size: 1em;
  background: #1FC3BF; color: white; position: fixed; z-index: 999;
  width: 100%; display: none;

  span { padding-right: 7px; }
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  border: 1px solid @infinitgray; border-radius: 3px;
  padding: 1.5% 1.5%; outline: none; font-size: 13px;
  .transition();
  &:focus { border: 1px solid @infinitblack;}
  &.error { -webkit-animation: shake .5s linear; border: 1px solid @infinitred; }
}

.wrapper { width: 90%; margin: auto;}


/*------------.
| Layout      |
`------------*/

header {
  background: #F9F9F9; border-bottom: 2px solid #F3F3F3;
  padding: 10px 7% 5px 7%;

  ul {
    float: right; margin-top: 18px;

    li {
      float: left; margin-left: 50px;
      a {
        display: block; font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        .transition();
      }

      a:hover, a.active {
        color: lighten(@black, 50%);
      }
    }
  }
}

pre code {
  display: block; font-family: @monospace;
  padding: 15px 20px; border-radius: 5px;
  margin-left: 0; line-height: 17px;
}

section.blue {
  background: #EBF0F3;
}

p.subtitle {
  font-family: @helvetica; font-size: 22px; color: #5D5D5D; line-height: 32px;
  font-weight: 300; text-align: center; margin-top: 10px;
}

p.title, h2.title {
  font-family: @helvetica; font-weight: 300; font-size: 30px; line-height: 42px;
}

footer {
   background: darken(#515149, 7%); clear: both;
   padding: 80px 0; min-height: 155px;
   font-size: 13px;

  .wrapper { max-width: 100%; }

  ul {
    list-style-type: none; margin:0; padding: 0; margin: auto; clear: both;
  }
}

footer nav > ul > li {
  float: left;  margin-right: 8px; color: white; font-family: @sourcesans;
  width: 11%; padding-left: 2%; padding-right: 2%;

  &.made {
    margin-right:0; width: 18%; padding-left: 3%; margin-top: -15px;

    p { margin: 0; padding: 0; margin-bottom: 7px; font-weight: 300; }

    .icon-infinit {
      color: @infinitgrey; font-size: 2.4em; display: block; margin-bottom: 10px;
      transition: color 0.3s; outline: none; display: inline-block;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      &:hover { color: white; }
    }
    .paris {
      font-family: @sourcesans; margin-top: 30px; font-weight: 600;
      font-size: 1.2em; text-transform: uppercase;
      span { color: @infinitred; }
    }
    .nyc { font-weight: 300; padding: 0px 0 10px 0;display: block; }
  }

  ul > li {
    float: none;

    &.category {
      font-family: @sourcesans; text-transform: uppercase;
      margin-bottom: 20px; font-weight: 600;
    }
    a {
      color: @infinitgrey; margin-top: 8px;
      display: block; outline: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &:hover { color: white; outline: none;}
    }
  }

  &.connect {
    width: 18%; padding-left: 5%;

    form input[type="submit"] { display: none; }
    form input[type="email"] {
      background: #45453A; border: 2px solid #696961;
      height: 30px; min-width: 200px; border-radius: 3px;
      padding: 3px 7px; font-family: @sourcesans;
      color: @infinitgrey; outline: none;
      .placeholder(lighten(@infinitgrey, 10%));

      &:focus { border: 2px solid lighten(#696961, 10%); }
    }

    ul.social { margin-top: 13px; }
    ul.social li { float: left; margin-right: 15px; margin-bottom: 5px;}

    a {
      color: @infinitgrey;
      transition: color 0.3s; outline: none;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      &:hover { color: white; }
      &:before { padding-right: 2px; margin-left: 0;}
    }
  }
}

#slack {
  text-align: center;

  img { width: 200px; height: auto; margin: auto; }
  strong { font-size: 25px; font-weight: 300; }

  input[type="email"] { min-width: 200px; margin-top: 20px;}
  .button {  margin-top: 15px; }
}


/*------------.
| Home        |
`------------*/

body.home {
  section { clear: both; }

  h4.title {
    font-size: 33px; line-height: 41px; text-align: center;
    margin-bottom: 0px;
  }

  section.presentation {
    min-height: 490px;

    // .bg {
    //   width: 100%; height: 100%;
    //   position: absolute; top:0;
    //   // -webkit-filter: hue-rotate(70deg);
    //   -webkit-filter: grayscale(100%);
    // }

    // .cover {
    //   background: rgba(0, 0, 0, 0.4); width: 100%; height: 100%;
    //   position: absolute; top:0;
    // }

    .headline {
      float: left; width: 34%; padding-left: 7%; padding-right: 4%;
    }

    h1 {
      font-size: 37px; line-height: 45px; font-weight: bold;
      padding-top: 60px; margin: 0; margin-top: 10px;
    }

    hr {
      height: 1px; background: lighten(gray, 25%); border:none; width: 30%; float: left;
      margin: 10px 0 15px 0;
     }

    p {
      font-size: 22px; line-height: 38px; clear: both;
    }

    h3 {
      font-family: monospace; font-size: 14px; color: lighten(gray, 15%); line-height: 17px;
      font-weight: normal; font-family: @monospace; line-height: 23px; clear: both;
    }

    a.button {
      font-size: 16px; min-width: 33%; font-size: 16px; text-align: center; padding: 13px 20px;
    }

    .terminal {
      background: #333; float: left; min-height: 365px;
      width: 47%; margin: 90px 5% 50px 2%; border-right: 2px solid #333;
      text-align: left; border-bottom-left-radius: 5px; border-bottom-left-radius: 5px;

      .header {
        height: 27px; width: 100%;
        margin-top: -28px;
        border-top: 1px solid #D6D6D6; border-top-left-radius: 5px;
        border-right: 1px solid #D6D6D6; border-top-right-radius: 5px;
        border-left: 1px solid #D6D6D6;

        li {
          float: left; width: 11px; height: 11px; border-radius: 11px; margin-right: 6px;
        }
        ul { margin: 7px 0 0 9px; }
        li.red { background: #FF5F52; }
        li.yellow { background: #FFBE05; }
        li.green { background: #15CC35; }
      }
      pre { margin: 2%; padding:0; }
      pre code {
        background: none; margin: 0; padding:0; color: darken(white, 10%);
        mark { font-weight: bold; background: none; color: white; }
        ins { text-decoration: none;}
      }
    }
  }

  section.features {
    width: 100%; margin: auto; text-align: center;

    p.title {
      margin-top: 40px; padding: 10px 8%; text-align: center;
    }

    div {
      float: left; width: 31%; text-align: center; padding: 20px 0 30px 0;
      min-height: 180px;
    }
    div.network { margin-top: -3px; }
    div.storage { margin-top: 14px; }
    div.fault { margin-top: 17px;}
    div.performance { margin-top: -10px;}
    div.software { margin-top: 18px;}
    span.arrow { width: 3%; display: block; float: left; margin-top: 93px;}
    h3 { text-transform: uppercase; }
    div p { font-size: 15px; color: #959595; line-height: 19px; padding: 0 12%;}

    &.summary {
      margin-top: 40px;
    }
  }

  section.description {
    text-align: center; background: #F9F9F9; padding-top: 40px;
    img { margin: 40px 0;}
  }

  section.cta {
    clear: both; text-align: center; margin-bottom: 50px;
  }

  section.features.benefits {
    padding: 30px 0 60px 0;

    p.subtitle { padding-bottom: 20px;}
    div { width: 33%; }
    div:nth-child(5) { clear: both; }
    div.cta { width: 100%; min-height: 0; padding:0;}
    a.button { clear: both; margin-bottom: 40px;  }
    &:after { content:''; clear: both; display: table;}
  }

  section.features.benefits.technology {
    background: #F2F2F2;
  }

  section.client {
    background: #F9F9F9; padding: 70px 0 80px 0;

    .users { width: 29%; padding: 0 4% 0 7%; float: right; }
    .app { width: 60%; float: right; overflow: hidden; }
    .app img { float: left;  width: 737px; height: 453px;}

    .users h3 { font-size: 32px; }
    .users p { font-size: 18px; color: #959595; line-height: 25px; }
    .users img { margin: 20px 0 30px 0;}

    &:after { content:''; clear: both; display: table;}
  }


  section.usecases {
    padding: 30px 17% 50px 17%; text-align: center;

    div.usecase {
      padding: 50px 3% 50px 3%; display: block;
      border-bottom: 1px solid #E4E4E4; text-align: left;
    }

    div.usecase.infrastructure img { margin-top: -20px; }
    div.usecase.dht img { margin: -7px 95px 0 30px; }
    div.usecase.fs { border: none; }
    img { float: left; margin-right: 70px; .transition(); }
    div h2 { font-size: 22px; font-weight: bold; margin-bottom: 0;}
    div p { font-size: 16px; color: #939393;}
    a.more { color: @infinitblue; font-weight: bold; font-size: 16px;}
    a.button { margin: 30px 0 50px 0;}
  }

  section.commercial {
    background: #F9F9F9; padding: 80px 10% 130px 10%;
    &:after { display: table; content: ''; clear: both; }

    img { float: left; margin-right: 80px; margin-top: 20px;}
    strong {
      font-weight: 300; font-family: @helvetica; font-size: 22px;
      margin-top: 40px; line-height: 33px; display: block; margin-bottom: 20px;
    }
    p { font-size: 15px; color: #747474; line-height: 24px;}
    p.title { font-size: 26px; color: @infinitblack; line-height: 36px; }
    .button { margin-top: 20px; }
  }
}


/*----------------.
| Documentation   |
`----------------*/

body.documentation, body.legal, body.contact, body.opensource, body.solutions,
body.pricing {

  // header { position: fixed; width: 100%;}
  // .content { padding-top: 80px; }
  progress {
    position: fixed; left: 0; top: 0; border: none; color: @infinitred;
    width: 100%; height: 2px; background-color: transparent;
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
  }

  progress::-webkit-progress-bar { background-color: transparent; }
  progress::-webkit-progress-value { background-color: @infinitred; }
  progress::-moz-progress-bar { background-color: @infinitred; }


  #sidebar {
    padding-left: 8%; width: 10%; float: left; margin-top: 20px;
    margin-bottom: 30px;
  }

  ul.menu { position: absolute; margin-top: 20px; }
  ul.menu #menu-anchor { height: 1px; width: 100%;}
  ul.menu.fixed { position: fixed; top: 20px;}
  ul.menu li a { font-family: @helvetica; font-weight: 300; }
  ul.menu li a:hover,
  ul.menu li.active > a {
    color: @infinitred;
  }

  ul.menu > li { padding-top: 5px; padding-bottom: 5px; }
  ul.menu li > a { font-size: 15px;  }
  ul.menu ul { list-style-type: circle; padding-left: 20px; }
  ul.menu ul li a { font-size: 13px; }

  section.doc {
    float: left; width: 50%; padding: 0 15% 100px 12%; margin-top: 40px;

    h1 {
      font-size: 33px; line-height: 41px; padding-bottom: 15px;
      border-bottom: 1px solid #DFDFDF; display: block; margin-top: 0;
    }

    p { line-height: 20px; }
    p.note { font-style: italic; color: #8C8C8C; }
    p a { color: @infinitblue; .transition() }
    p.title {
      font-family: @helvetica; font-weight: 300;font-size: 26px; line-height: 39px;
      width: 90%;
    }

    p a:hover {
      color: darken(@infinitblue, 10%);
      border-bottom: 2px solid darken(@infinitblue, 10%);
    }

    h2 { margin-top: 50px;}
    .button { font-size: 14px; padding: 6px 11px;}

    pre code { padding: 15px 20px; }

    span.code, .tags span {
      background: #E9F2F5; border-radius: 3px; padding: 3px;
      color: #5A6878; font-family: @monospace; font-size: 13px;
    }

    img { max-width: 100%; }

    table { width: 100%; margin: 30px 0;}
    table tr td { text-align: center; padding: 5px; }

    table tr:nth-child(1) {  }

    table tr:nth-child(1) td, table tr:nth-child(1) th {
      font-weight: bold; border-bottom: 3px solid #E6E6E6;
      padding-bottom: 10px;
    }

    table.features tr td:nth-child(1) {
      font-weight: bold; text-align: left;
      padding: 10px 5px;
      border-right: 3px solid #E6E6E6;
    }

    .tags { margin-top: -10px; margin-bottom: 25px; }
  }
}


body.doc_overview {

  section.doc {
    .features {
      div {
        float: left; width: 31%; margin-right: 3%;

        h2 { font-size: 15px; text-transform: uppercase; margin: 25px 0 5px 0;}
        p { font-size: 13px; color: #959595; line-height: 19px; margin-top: 0;}
      }

      div:nth-child(3n) { margin-right: 0; }
      div:nth-child(3n+1) { clear: both; }
    }
  }
}


body.doc_roadmap {

  section.doc {
    .roadmap { padding-left: 35px;}

    .step {
      border-left: 1px solid #B5B5B5; height: 110px;
      padding-left: 70px; position: relative;
    }

    .desc {
      padding-top: 11px;

      h2 { font-size: 16px; margin: 0; margin-bottom: 5px; }
      p { color: #737373; margin: 0;}
    }

    .date {
      width: 65px; height: 51px; padding-top: 14px; border-radius: 65px;
      text-align: center; color: #858585; text-transform: uppercase;
      background: white; border: 1px solid #B5B5B5;
      position: absolute; left: -32px;

      span { color: @infinitred;}
    }

    hr {
      height: 1px; background: #B5B5B5; border: none; width: 40px;
      position: absolute; left: 0px; top:15px;
    }
  }
}



body.doc_comparisons {
  section.doc {
    table.centralized tr:nth-child(1) td { width: 4%;}
    table.centralized tr:nth-child(2n) td { background: #F9F9F9; }
  }
}




body.legal {
  header { background: #F9F9F9; border-bottom: 2px solid #F3F3F3; }

  section.doc {
    float: none;
    width: 70%;
    padding: 50px 15%;
  }

  h1 { font-family: @sourcesans; font-weight: bold; }
  dl { margin-bottom: 80px; }
  dt { font-weight: 300; font-size: 1.3em; padding-bottom: 5px; }
  h2 {
    font-size: 0.8em; text-transform: uppercase; font-family: @sourcesans;
    margin-top: 60px; font-weight: bold;
  }
  dd {
    p, li {
      font-size: 0.9em; text-align: justify; width:60%;
      font-family: @sourcesans; font-weight: normal; color: lighten(gray, 15%);
    }
    a { color: @infinitred; }
  }
}


/*------------.
| About       |
`------------*/

body.about {
  .wrapper { width: 90%; margin: auto;}

  section { padding: 80px 0; clear: both; }

  h2 { font-family: @helvetica; font-size: 22px; font-weight: 300; text-align: center;}

  .heading {
    background: url('../images/bg-about.jpg') no-repeat; width: 100%; height: 248px;
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    text-align: center; color: white; padding-top: 125px;

    h1 {
      text-shadow: 0px 1px 1px rgba(0,0,0,0.3); font-size: 1.8em; margin: 0 20px;
      font-weight: 600; font-family: @sourcesans;
      background: rgba(0, 0, 0, 0.1); padding: 5px 0; display: inline-block;
    }

    .contact {
      font-weight: 200; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 1.5em;
      background: rgba(0, 0, 0, 0.1); width: 90%; display: inline; margin: 0 20px;
      a { text-decoration: underline; color: white;
        &:hover { color:@infinitgrey; }
      }
    }
  }

  .title {
    text-transform: uppercase; color: white; background: @infinitred;
    padding: 10px 30px; font-weight: 600;
    text-align: center; width: 100px; margin: auto; margin-top: -20px; margin-bottom: 60px;
  }

  .team {
    .description {
      padding: 0 23% 80px 23%; text-align: center;

      strong {
        font-family: @helvetica; font-weight: 300; font-size: 22px;
        line-height: 31px;
      }

      a { color: @infinitblue;}
    }

    .swagger:nth-child(odd) { clear: both;}

    .swagger { width: 50%; float: left; margin-bottom: 70px; min-height: 135px;
      .networks {
        float: left; margin: 0 10px 0 30px; width: 100px;  text-align: center;
        .avatar {
          width: 100px; height: 100px; display: block; margin-bottom: 7px;

          &.antony {
            .at2x('../images/team/antony.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.baptiste {
            .at2x('../images/team/baptiste.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.chris {
            .at2x('../images/team/chris.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.gaetan {
            .at2x('../images/team/gaetan.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.julien {
            .at2x('../images/team/julien.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.matthieu {
            .at2x('../images/team/matthieu.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.patrick {
            .at2x('../images/team/patrick.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.quentin {
            .at2x('../images/team/quentin.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.you {
            .at2x('../images/team/you.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &:hover { background-position: bottom center;
          }
        }

        .icons {
          color: white; font-size: 1.3em; color: lighten(gray, 30%);
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;

          &:before { margin-right: 0; margin-left: 0;}

          &.icon-twitter:hover { color: #6BD4E3; }
          &.icon-dribbble:hover { color: #FF509C; }
          &.icon-soundcloud:hover { color: #FFA050; }
          &.icon-linkedin:hover { color: #2287C1; }
          &.icon-facebook:hover { color: #415EA0}
        }
      }
      .infos { float: left; width: 65%;
        h3 {
          font-family: @sourcesans; text-transform: uppercase;
          word-spacing: 1px; font-size: 1.1em; font-weight: 600;
          margin: 0; padding: 0; float: left; margin-right: 10px;
        }
        strong {
          padding-top: 7px; padding-bottom: 3px; font-size: 0.9em;
          display: block; font-weight: 400; clear: both;
          a { color: @infinitblue; }
          a:hover { color: darken(@infinitblue, 10%); }
        }
        p { text-align: justify; font-size: 0.9em; color: @gray; margin: 0; font-family: @sourcesans;
          a { color: @infinitblue; font-family: @sourcesans;
            &:hover { color: darken(@infinitblue, 10%); }
          }
        }
      }
    }
  }

  section.map {
    text-align: center;
    a { color: @infinitblue;}
    img { width: 100%; max-width: 800px; height: auto; margin: auto; margin-top: 20px;}
  }

  section.philosophy, section.investors {
    ul.values {
      li { float: left; width: 16%; margin-bottom: 90px; text-align: center;}
      li p { font-family: @sourcesans; font-weight: bold; text-transform: uppercase;}
      span { font-size: 5em;}
      span.icon-ethics { margin-left: -20px; display: block;}
      p { margin-top: 10px;}
    }

    p.p1 {
      clear: both; text-align: center;
    }
  }

  section.investors {
    ul.investors {
      padding-bottom: 130px;

      li {
        float: left; width: 25%; text-align: center; margin-bottom: 130px;
        margin-top: 10px;
        a { color: @infinitblue; display: block; margin-bottom: 10px;}
      }

      li.alvencapital a { margin-top: 15px;}
    }
  }
}


/*-----------------------.
| Single Column Pages    |
`-----------------------*/

body.contact, body.opensource, body.pricing {
  section.doc { margin-top: 30px; padding: 0 15% 100px 15%; width: 70%; }
}


/*------------.
| Pricing     |
`------------*/

body.pricing {
  h1 { text-align: center; }
  section.doc { padding-bottom: 100px; padding-left: 7%; padding-right: 7%; width: 86%; }
  section.doc:after { content: ''; display: table; clear: both; }

  .plan {
    float: left; width: 26%; padding: 0 3% 0 3%; text-align: left;
    border-radius: 5px; border-right: 1px solid #f2f2f2; margin-top: 40px;
  }
  .plan h2 {
    font-size: 22px; margin-top: 0; padding-top: 0;
    border-bottom: 2px solid @infinitblack; padding-bottom: 17px;
  }
  .plan h2 img { float: left; margin-top: -5px; margin-right: 8px;}
  .plan p { margin: 7px 0;}

  .plan:last-child { border-right: 0}
  .plan:last-child h2 img {  margin-top: -13px; }

  section.estimation {
    text-align: center; min-height: 400px;

    .controls { width: 670px; margin: auto; margin-top: 90px; }
    .controls label { font-size: 20px; font-weight: bold; }
    .controls label#usersLabel { margin-right: 80px;}
    input, label, .slider { float: left; }

    h2 { font-size: 2em; margin-bottom: 0;}
    table tr:nth-child(1) th { padding-top: 40px; clear: both; border-bottom: none; }

    table tr td { width: 19%; padding: 10px 3%; border-right: 1px solid #E6E6E6; }
    table tr td:last-child { border-right: none;}
    table tr.capacity td span { font-weight: bold; }
    table tr.price td {
      font-family: @helvetica; font-size: 25px; font-weight: 300;
    }
    table tr td.disabled, table tr th.disabled { opacity: 0.4; .transition() }
    table tr th.disabled img {
      filter: grayscale(100%);  -webkit-filter: grayscale(1);
    }
  }

}


/*------------.
| Contact     |
`------------*/

body.contact, body.solutions {
  section form { margin-top: 40px; }

  section.doc { padding-left: 20%; width: 60%; padding-right: 20%; }

  input[type="text"], input[type="email"] { height: 25px; width: 40%;}
  input[type="text"] { width: 40%; margin-bottom: 10px; }
  form input[type="text"], form input[type="email"] {
    width: 44%; margin-right: 2%;
  }

  textarea { width: 92%; min-height: 200px; border-radius: 5px; padding: 17px;}
  section.doc .button { padding: 10px 25px; margin-top: 15px;}
}


/*--------------.
| Open Source   |
`--------------*/

body.opensource {
  section.doc {
    padding: 0 17% 100px 17%; width: 66%;

    .projects:after { content: ''; display: table; clear: both; }
    .card { float: left; margin:15px 15px 15px 0; }
    .card:nth-child(2n+1) { clear: both; }
    .repo-card .content p { font-size: 13px; font-family: @sourcesans; }

    table { width: 80%; }
    table tr td, table tr th { text-align: left; padding-left: 20px; }
    table tr:nth-child(1) th:nth-child(1) { text-align: left; }
    table tr td:nth-child(1) { border: none;}
    table tr:nth-child(2n) { background: #f9f9f9; }
    table tr td:nth-child(1), table tr th:nth-child(1) { padding-left: 20px; }
  }
}


/*--------------.
| Solutions     |
`--------------*/

body.solutions {
  section.doc {
    margin-top: 50px; padding: 0 10% 20px 10%; width: 80%;

    h1 {
      text-align: center; border-bottom: none; padding-bottom: 0; margin-top: 0;
      margin-bottom: 10px;
    }

    h2 { font-size: 23px; }
    h2 img { margin-right: 5px; }
    .cloud_solutions { clear: both; margin: 50px auto 0 auto; width: 80%; }
    .cloud_solutions > img { float: left; margin-right: 50px; margin-top: 20px; }
    .cloud_solutions h2 { padding-top: 148px; font-size: 23px; }
    .cloud_solutions p { font-size: 17px; line-height: 28px; }
    .cloud_solutions:after { content: ''; display: table; clear: both; }

    .cloud_system { padding-right: 5%; clear: both; }
    .custom_apps { padding-left: 5%;   }

    .cloud_system, .custom_apps {
      width: 45%; float: left; text-align: center;
      padding-bottom: 70px;

      img { margin-top: 60px;}
      h2 img { margin-top: 0; vertical-align: text-top; }
    }

    .cloud_system h2 img {vertical-align: middle;}

    .apps { text-align: center; clear: both; padding-top: 40px; }
    .apps p { width: 52%; margin: 20px auto;}
    .apps h2 img { vertical-align: text-top; margin-top: 0;}
    .apps img { margin-top: 40px;}
  }

  section {
    form { clear:both; margin: 0; padding: 0 23% 80px 27%;}
    form h2 { text-align: center;  margin: 30px 0; padding-top: 50px; }
    button { margin-top: 20px;}
  }

  section.benefits {
    padding: 0 10% 0 10%; width: 80%; background: #404040; clear: both;
    &:after { content:''; clear: both; display: table;}

    .increase:first-child { clear: both; }
    .increase:nth-child(2) { margin-top: 10px; }
    .increase:last-child { margin-top: 13px; }
    .increase {
      width: 25%; color: white; margin: 0px 2%; padding: 50px 2% 50px 2%; float: left;
      text-align: center; border-radius: 5px; -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}



/*--------------.
| Libraries     |
`--------------*/

.slider {
  width: 180px;
}

.slider > .dragger {
  background: @infinitblack;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  width: 24px;
  height: 24px;
}

.slider > .dragger:hover {
  background: lighten(@infinitblack, 10%);
}

.slider > .track, .slider > .highlight-track {
  background: #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 7px;
}

.slider > .highlight-track {
  background-color: #8DCA09;
  border-color: #496805;
}




