@import "variables";

@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

body {
  font-family: @sourcesans;
  font-size: 14px;
}

a { text-decoration: none; }

header {
  height: 60px; padding: 10px 5%;

  ul {
    float: right;

    li a {
      display: block; float: left;
      color: @infinitblack;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

}

body.home {

}