@import "variables";

@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

@font-face {
  font-family: 'icons';
  src:url('../fonts/icons.eot');
  src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icons.ttf') format('truetype'),
      url('../fonts/icons.woff') format('woff'),
      url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: @sourcesans;
  font-size: 14px;
  color: #353535;
}

a { text-decoration: none; color: @black; }
ul { list-style-type: none; }

a.button, button.button, input.button {
  display: inline-block; overflow: hidden;
  background: #F25E5A; border-radius: 40px;
  padding: 10px 25px;
  position: relative;
  font-family: @sourcesans; color: white; text-transform: uppercase; font-size:16px;
  font-weight: 600; border: none;
  outline: none; .transition();

  &:hover, &:active {
    background: darken(@infinitred, 10%);
  }

  &:focus { outline: none; }

  &.border { background: none; }
  &.border.black { border: 1px solid @black; color: @black;}
  &.border.black:hover { background: @black; color: white;}
}

.spacer { clear: both; }

.popup {
  position: relative; background: #FFF; border-radius: 5px;
  padding: 20px; width: auto; max-width: 500px;
  margin: 20px auto; display: none;
}

#popup_notice {
  text-align: center; padding: 12px 12px; font-size: 1em;
  background: #1FC3BF; color: white; position: fixed; z-index: 999;
  width: 100%; display: none;

  span { padding-right: 7px; }
}

input[type="email"], input[type="text"], input[type="password"], textarea {
  padding: 8px 22px; outline: none;
  border: 2px solid darken(white, 20%); border-radius: 30px;
  font-family: @sourcesans;

  &:focus { border: 2px solid darken(white, 40%); }
}

header {
  padding: 10px 8% 5px 8%;

  ul {
    float: right; margin-top: 18px;

    li {
      float: left; margin-left: 50px;
      a {
        display: block; font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        .transition();
      }

      a:hover, a.active {
        color: lighten(@black, 50%);
      }
    }
  }
}

pre code {
  display: block; font-family: @monospace;
  padding: 15px 20px; border-radius: 5px;
  margin-left: 0; line-height: 17px;
}

section.blue {
  background: #EBF0F3;
}

footer {
   background: darken(@infinitblack, 7%); clear: both;
   padding: 80px 0; min-height: 155px;
   font-size: 13px;

  .wrapper { max-width: 100%; }

  ul {
    list-style-type: none; margin:0; padding: 0; margin: auto; clear: both;
  }
}

footer nav > ul > li {
  float: left;  margin-right: 8px; color: white; font-family: @sourcesans;
  width: 14%; padding-left: 2%; padding-right: 2%;

  &.made {
    margin-right:0; width: 22%; padding-left: 5%; margin-top: -15px;

    p { margin: 0; padding: 0; margin-bottom: 7px; font-weight: 300; }

    .icon-infinit {
      color: @infinitgrey; font-size: 2.4em; display: block; margin-bottom: 10px;
      transition: color 0.3s; outline: none; display: inline-block;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      &:hover { color: white; }
    }
    .paris {
      font-family: @sourcesans; margin-top: 30px; font-weight: 600;
      font-size: 1.2em; text-transform: uppercase;
      span { color: @infinitred; }
    }
    .nyc { font-weight: 300; padding: 0px 0 10px 0;display: block; }
  }

  ul > li {
    float: none;

    &.category {
      font-family: @sourcesans; text-transform: uppercase;
      margin-bottom: 20px; font-weight: 600;
    }
    a {
      color: @infinitgrey; margin-top: 8px;
      display: block; outline: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &:hover { color: white; outline: none;}
    }
  }

  &.connect {
    width: 25%;

    form input[type="submit"] { display: none; }
    form input[type="email"] {
      background: #45453A; border: 2px solid #696961;
      height: 30px; min-width: 200px; border-radius: 3px;
      padding: 3px 7px; font-family: @sourcesans;
      color: @infinitgrey; outline: none;
      .placeholder(lighten(@infinitgrey, 10%));

      &:focus { border: 2px solid lighten(#696961, 10%); }
    }

    ul.social { margin-top: 13px; }
    ul.social li { float: left; margin-right: 15px; margin-bottom: 5px;}

    a {
      color: @infinitgrey;
      transition: color 0.3s; outline: none;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      &:hover { color: white; }
      &:before { padding-right: 2px; margin-left: 0;}
    }
  }
}


#slack {
  text-align: center;

  img { width: 200px; height: auto; margin: auto; }
  strong { font-size: 25px; font-weight: 300; }

  input[type="email"] {
    min-width: 200px; height: 30px; margin-top: 20px;
    text-align: center; font-size: 16px;
  }
  .button {  margin-top: 15px;}
}



body.home {

  h4.title {
    font-size: 33px; line-height: 41px; text-align: center;
    margin-bottom: 0px;
  }

  p.subtitle {
    font-family: @helvetica; font-size: 22px; color: #5D5D5D; line-height: 26px;
    font-weight: 300; text-align: center; margin-top: 10px;
  }

  section.presentation {
    position: relative;


    // .at2x('../images/bg-header-home.png', 150px, 149px);
    background-position: top center;
    background-repeat: repeat;
    min-height: 537px;

    .bg {
      background: url('../images/bg-header-home.gif'); width: 100%; height: 100%;
      position: absolute; top:0;
      // -webkit-filter: hue-rotate(70deg);
      -webkit-filter: grayscale(100%);
    }

    .cover {
      background: rgba(0, 0, 0, 0.4); width: 100%; height: 100%;
      position: absolute; top:0;

    }

    h1 {
      font-size: 32px; color: white; line-height: 40px; font-weight: bold;
      text-align: center; padding-top: 60px; margin-top: 0;
    }

    h2 {
      font-family: monospace; font-size: 18px; color: darken(white, 15%); line-height: 17px;
      text-align: center; font-weight: normal;
      font-family: @monospace;
    }

    .terminal {
      .at2x('../images/bg-terminal.png', 895px, 366px);
      width: 895px; height: 366px; margin: auto;
      position: absolute; bottom: 0; left:50%; margin-left: -447px;

      pre code {
        background: none; margin: 55px 55px 0 55px;

        ins { text-decoration: none;}
      }
    }
  }


  section.cta {
    padding: 10px 8%; text-align: center;

    p { font-family: @helvetica; font-size: 19px; font-weight: 300; }
    a { margin-left: 20px; margin-top: 10px;}
  }


  section.features {
    clear: both; padding: 0 5%;

    div { float: left; width: 23%; text-align: center; padding: 80px 5% 50px 5%;}
    div.network { margin-top: -16px; }

    h3 { text-transform: uppercase; }
    p { font-size: 15px; color: #959595; line-height: 19px; }
  }

  section.description {
    clear: both; text-align: center; background: #F2F2F2; padding-top: 40px;

    img { margin: 40px 0;}
  }


  section.usecases {
    padding: 30px 17% 50px 17%;

    p.subtitle { font-size: 22px; color: #939393;}

    a.usecase {
      padding: 70px 3% 70px 3%; display: block;
      border-bottom: 1px solid #E4E4E4;
      .transition();
    }

    a.usecase:hover {
      background: darken(white, 2%);
    }

    a.usecase:hover h2 { color: lighten(@black, 10%) }
    a.usecase:hover p { color: lighten(#939393, 10%) }
    a.usecase:hover img { opacity: 0.7; }

    a.usecase:nth-of-type(3) { border: none; }

    img { float: left; margin-right: 70px; .transition(); }

    h2 { font-size: 22px; font-weight: bold; margin-bottom: 0;}
    p { font-size: 16px; color: #939393;}
    a.more { color: @infinitblue; font-weight: bold; font-size: 16px;}
  }

  section.commercial {
    background: #F2F2F2; padding: 50px 17% 200px 17%;

    strong {
      font-weight: 300; font-family: @helvetica; font-size: 22px;
      margin-top: 40px; line-height: 33px; display: block; margin-bottom: 20px;
    }
    p { font-size: 15px; color: #747474; line-height: 24px;}
    .button { margin-top: 20px; }
  }
}


body.documentation, body.legal, body.contact {
  header { background: #F9F9F9; border-bottom: 2px solid #F3F3F3; }

  #sidebar {
    padding-left: 8%; width: 10%; float: left; margin-top: 20px;
    margin-bottom: 30px;
  }

  ul.menu { position: absolute; padding-top: 20px; }

  ul.menu li a { font-family: @helvetica; font-weight: 300; }

  ul.menu li a:hover,
  ul.menu li.active a {
    color: @infinitred;
  }

  ul.menu > li { padding-top: 5px; padding-bottom: 5px; }
  ul.menu li > a { font-size: 15px;  }

  ul.menu ul { list-style-type: circle; padding-left: 20px; }
  ul.menu ul li a { font-size: 13px; }


  section.doc {
    float: left; width: 50%; padding: 0 15% 100px 30%;

    h1 {
      font-size: 33px; line-height: 41px; padding-bottom: 15px;
      border-bottom: 1px solid #DFDFDF; display: block; margin-top: 0;
    }

    p { line-height: 20px; }
    p.note { font-style: italic; color: #8C8C8C; }
    p a { color: @infinitblue; .transition() }

    p a:hover {
      color: darken(@infinitblue, 10%);
      border-bottom: 2px solid darken(@infinitblue, 10%);
    }

    h2 { margin-top: 50px;}
    .button { font-size: 14px; padding: 6px 11px;}

    pre code { padding: 15px 20px; }

    span.code, .tags span {
      background: #E9F2F5; border-radius: 3px; padding: 3px;
      color: #5A6878; font-family: @monospace; font-size: 13px;
    }

    img { max-width: 100%; }

    table { width: 100%; margin: 30px 0;}
    table tr td { text-align: center; padding: 5px; }

    table tr:nth-child(1) {  }

    table tr:nth-child(1) td {
      font-weight: bold; border-bottom: 3px solid #E6E6E6;
      padding-bottom: 10px;
    }

    table tr td:nth-child(1) {
      font-weight: bold; text-align: left;
      padding: 10px 5px;
      border-right: 3px solid #E6E6E6;
    }

    .tags { margin-top: -10px; margin-bottom: 25px; }
    .tags span { font-family: @sourcesans; }
  }
}


body.doc_overview {

  section.doc {

    .features {

      div {
        float: left; width: 25%; padding: 0 2%; background: darken(white, 2%);
        border-radius: 3px; margin: 2%;

        h2 { font-size: 15px; text-transform: uppercase; margin: 15px 0 5px 0;}
        p { font-size: 13px; color: #959595; line-height: 19px; margin-top: 0;}
      }

      div:nth-child(3n+1) {
        clear: both;
      }
    }

  }
}


body.doc_roadmap {

  section.doc {
    .roadmap { padding-left: 35px;}

    .step {
      border-left: 1px solid #B5B5B5; height: 110px;
      padding-left: 70px; position: relative;
    }

    .desc {
      padding-top: 11px;

      h2 { font-size: 16px; margin: 0; margin-bottom: 5px; }
      p { color: #737373; margin: 0;}
    }

    .date {
      width: 65px; height: 51px; padding-top: 14px; border-radius: 65px;
      text-align: center; color: #858585; text-transform: uppercase;
      background: white; border: 1px solid #B5B5B5;
      position: absolute; left: -32px;

      span { color: @infinitred;}
    }

    hr {
      height: 1px; background: #B5B5B5; border: none; width: 40px;
      position: absolute; left: 0px; top:15px;
    }
  }
}



body.doc_comparisons {
  section.doc {

    table.centralized tr:nth-child(1) td { width: 4%;}

    table.centralized tr:nth-child(2n) td { background: #F9F9F9; }
  }
}




body.legal {
  header { background: #F9F9F9; border-bottom: 2px solid #F3F3F3; }

  section.doc {
    float: none;
    width: 70%;
    padding: 50px 15%;
  }

  h1 { font-family: @sourcesans; font-weight: bold; }
  dl { margin-bottom: 80px; }
  dt { font-weight: 300; font-size: 1.3em; padding-bottom: 5px; }
  h2 {
    font-size: 0.8em; text-transform: uppercase; font-family: @sourcesans;
    margin-top: 60px; font-weight: bold;
  }
  dd {
    p, li {
      font-size: 0.9em; text-align: justify; width:60%;
      font-family: @sourcesans; font-weight: normal; color: lighten(gray, 15%);
    }
    a { color: @infinitred; }
  }
}




body.about {
  .wrapper { width: 90%; margin: auto;}

  section { padding: 80px 0; clear: both; }

  h2 { font-family: @helvetica; font-size: 22px; font-weight: 300; text-align: center;}

  .heading {
    background: url('../images/bg-about.jpg') no-repeat; width: 100%; height: 248px;
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    text-align: center; color: white; padding-top: 125px;

    h1 {
      text-shadow: 0px 1px 1px rgba(0,0,0,0.3); font-size: 1.8em; margin: 0 20px;
      font-weight: 600; font-family: @sourcesans;
      background: rgba(0, 0, 0, 0.1); padding: 5px 0; display: inline-block;
    }

    .contact {
      font-weight: 200; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 1.5em;
      background: rgba(0, 0, 0, 0.1); width: 90%; display: inline; margin: 0 20px;
      a { text-decoration: underline; color: white;
        &:hover { color:@infinitgrey; }
      }
    }
  }

  .title {
    text-transform: uppercase; color: white; background: @infinitred;
    padding: 10px 30px; font-weight: 600;
    text-align: center; width: 100px; margin: auto; margin-top: -20px; margin-bottom: 60px;
  }

  .team {
    .description {
      padding: 0 23% 80px 23%; text-align: center;

      strong {
        font-family: @helvetica; font-weight: 300; font-size: 22px;
        line-height: 31px;
      }

      a { color: @infinitblue;}
    }

    .swagger:nth-child(odd) { clear: both;}

    .swagger { width: 50%; float: left; margin-bottom: 70px; min-height: 135px;
      .networks {
        float: left; margin: 0 10px 0 30px; width: 100px;  text-align: center;
        .avatar {
          width: 100px; height: 100px; display: block; margin-bottom: 7px;

          &.antony {
            .at2x('../images/team/antony.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.baptiste {
            .at2x('../images/team/baptiste.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.chris {
            .at2x('../images/team/chris.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.gaetan {
            .at2x('../images/team/gaetan.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.julien {
            .at2x('../images/team/julien.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.matthieu {
            .at2x('../images/team/matthieu.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.patrick {
            .at2x('../images/team/patrick.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.quentin {
            .at2x('../images/team/quentin.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &.you {
            .at2x('../images/team/you.png', 100px, 200px);
            background-position: top center;
            background-repeat: no-repeat;
          }
          &:hover { background-position: bottom center;
          }
        }

        .icons {
          color: white; font-size: 1.3em; color: lighten(gray, 30%);
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;

          &:before { margin-right: 0; margin-left: 0;}

          &.icon-twitter:hover { color: #6BD4E3; }
          &.icon-dribbble:hover { color: #FF509C; }
          &.icon-soundcloud:hover { color: #FFA050; }
          &.icon-linkedin:hover { color: #2287C1; }
          &.icon-facebook:hover { color: #415EA0}
        }
      }
      .infos { float: left; width: 65%;
        h3 {
          font-family: @sourcesans; text-transform: uppercase;
          word-spacing: 1px; font-size: 1.1em; font-weight: 600;
          margin: 0; padding: 0; float: left; margin-right: 10px;
        }
        strong {
          padding-top: 7px; padding-bottom: 3px; font-size: 0.9em;
          display: block; font-weight: 400; clear: both;
          a { color: @infinitblue; }
          a:hover { color: darken(@infinitblue, 10%); }
        }
        p { text-align: justify; font-size: 0.9em; color: @gray; margin: 0; font-family: @sourcesans;
          a { color: @infinitblue; font-family: @sourcesans;
            &:hover { color: darken(@infinitblue, 10%); }
          }
        }
      }
    }
  }

  section.map {
    text-align: center;
    a { color: @infinitblue;}
    img { width: 100%; max-width: 800px; height: auto; margin: auto; margin-top: 20px;}
  }

  section.philosophy, section.investors {
    ul.values {
      li { float: left; width: 16%; margin-bottom: 90px; text-align: center;}
      li p { font-family: @sourcesans; font-weight: bold; text-transform: uppercase;}
      span { font-size: 5em;}
      span.icon-ethics { margin-left: -20px; display: block;}
      p { margin-top: 10px;}
    }

    p.p1 {
      clear: both; text-align: center;
    }
  }

  section.investors {
    ul.investors {
      padding-bottom: 130px;

      li {
        float: left; width: 25%; text-align: center; margin-bottom: 130px;
        margin-top: 10px;
        a { color: @infinitblue; display: block; margin-bottom: 10px;}
      }

      li.alvencapital a { margin-top: 15px;}
    }
  }
}



body.contact {
  section.doc { margin-top: 30px; padding: 0 15% 100px 25%;}
  form { margin-top: 40px; }

  input[type="text"], input[type="email"] { height: 25px; width: 40%;}
  input[type="text"] { width: 40%; margin-bottom: 10px; }

  textarea { width: 100%; min-height: 200px; border-radius: 5px; padding: 17px;}
  section.doc .button { padding: 10px 25px; margin-top: 15px;}
}
















