Package: infinit-beyond
Maintainer: Quentin Hocquet <debian@infinit.io>
Version: ${version}
Homepage: http://www.infinit.sh
Architecture: amd64
Depends: ${', '.join(dependencies)}, infinit (= ${version})
Description: Infinit beyond server.
