Package: infinit-beyond
Maintainer: Quentin Hocquet <debian@infinit.io>
Version: ${version}
Homepage: http://www.infinit.io
Architecture: amd64
Depends: couchdb python3 python3-requests
Description: Infinit beyond server.
