Package: infinit-beyond
Maintainer: Quentin Hocquet <debian@infinit.io>
Version: ${version}
Homepage: http://www.infinit.sh
Architecture: amd64
Depends: couchdb, libjpeg-dev, python3, python3-requests
Description: Infinit beyond server.
