# pylint: disable=line-too-long

import couchdb
import infinit.beyond
import infinit.beyond.bottle
import infinit.beyond.couchdb
import infinit.beyond.gcs

datastore = infinit.beyond.couchdb.CouchDBDatastore(couchdb.Server())
gcs = infinit.beyond.gcs.GCS(
  login = ${repr(gcs_login)},
  key = bytes(${repr(gcs_key)}, 'UTF-8'),
  bucket_ns = 'sh_infinit_beyond')
beyond = infinit.beyond.Beyond(
  datastore = datastore,
  dropbox_app_key = ${repr(dropbox_app_key)},
  dropbox_app_secret = ${repr(dropbox_app_secret)},
  google_app_key = ${repr(google_app_key)},
  google_app_secret = ${repr(google_app_secret)},
  gcs_app_key = ${repr(gcs_app_key)},
  gcs_app_secret = ${repr(gcs_app_secret)},
  validate_email_address = False,
  sendwithus_api_key = ${repr(sendwithus_api_key)},
  limits = {
    'networks': {
      'passports': 30
    }
  },
  delegate_user = ${repr(delegate_user)},
)
application = infinit.beyond.bottle.Bottle(beyond, gcs = gcs)
