# pylint: disable=line-too-long

import couchdb
import infinit.beyond
import infinit.beyond.bottle
import infinit.beyond.couchdb
import infinit.beyond.gcs
import uwsgi

datastore = infinit.beyond.couchdb.CouchDBDatastore(couchdb.Server())

def getopt(name, fallback = None):
  opt = uwsgi.opt.get(name)
  if opt is not None:
    return eval(opt.decode())
  return fallback

def make_gcs():
  # GCS credentials for various buckets (images, logs, etc.)
  login = getopt('gcs-login')
  key = getopt('gcs-key')
  if login is not None and key is not None:
    return infinit.beyond.gcs.GCS(
      login = login,
      key = key.encode('UTF-8'),
      bucket_ns = 'sh_infinit_beyond')
  else:
    return None

beyond = infinit.beyond.Beyond(
  datastore = datastore,
  dropbox_app_key = getopt('dropbox-app-key'),
  dropbox_app_secret = getopt('dropbox-app-secret'),
  google_app_key = getopt('google-app-key'),
  google_app_secret = getopt('google-app-secret'),
  gcs_app_key = getopt('gcs-app-key'),
  gcs_app_secret = getopt('gcs-app-secret'),
  sendwithus_api_key = getopt('sendwithus-api-key'),
  delegate_user = ${repr(delegate_user)},
  keep_deleted_users = getopt('keep-deleted-users'),
)

application = infinit.beyond.bottle.Bottle(
  admin_users = getopt('admin-users', []),
  beyond = beyond,
  gcs = make_gcs(),
  ldap_server = getopt('ldap-server'),
)

# Local Variables:
# mode: python
# End:
