<uwsgi>
  <plugin>python3</plugin>
  <plugin>syslog</plugin>
  <pythonpath>/opt/infinit/beyond/lib/python3.4</pythonpath>
  <env>INFINIT_CRASH_REPORTER=0</env>
  <module>infinit.beyond.wsgi</module>
  <master/>
  <processes>4</processes>
  <harakiri>15</harakiri>
  <reload-mercy>8</reload-mercy>
  <cpu-affinity>1</cpu-affinity>
  <stats>/tmp/stats.socket</stats>
  <max-requests>2000</max-requests>
  <limit-as>512</limit-as>
  <reload-on-as>1024</reload-on-as>
  <reload-on-rss>512</reload-on-rss>
  <no-orphans/>
  <vacuum/>
  <logger>syslog:uwsgi-beyond</logger>
  <set>gcs-login=${repr(gcs_login)}</set>
  <set>gcs-key=${repr(gcs_key)}</set>
  <set>dropbox-app-key=${repr(dropbox_app_key)}</set>
  <set>dropbox-app-secret=${repr(dropbox_app_secret)}</set>
  <set>google-app-key=${repr(google_app_key)}</set>
  <set>google-app-secret=${repr(google_app_secret)}</set>
  <set>gcs-app-key=${repr(gcs_app_key)}</set>
  <set>gcs-app-secret=${repr(gcs_app_secret)}</set>
  <set>sendwithus-api-key=${repr(sendwithus_api_key)}</set>
</uwsgi>
