<uwsgi>
  <plugin>python3</plugin>
  <pythonpath>/opt/infinit/beyond/lib/python${python_version_major}.${python_version_minor}</pythonpath>
  <env>MEMO_CRASH_REPORTER=0</env>
  <module>infinit.beyond.wsgi</module>
  <set>gcs-login=${repr(gcs_login)}</set>
  <set>gcs-key=${repr(gcs_key)}</set>
  <set>dropbox-app-key=${repr(dropbox_app_key)}</set>
  <set>dropbox-app-secret=${repr(dropbox_app_secret)}</set>
  <set>google-app-key=${repr(google_app_key)}</set>
  <set>google-app-secret=${repr(google_app_secret)}</set>
  <set>gcs-app-key=${repr(gcs_app_key)}</set>
  <set>gcs-app-secret=${repr(gcs_app_secret)}</set>
  <set>sendwithus-api-key=${repr(sendwithus_api_key)}</set>
</uwsgi>
