  <h3>Our Investors</h3>

  <a href="http://www.alvencapital.com/en/" target="_blank"><img class="alven" src="${url('images/logos/alvencapital.png')}" alt="Alven Capital"></a>
  <a href="http://360capitalpartners.com/" target="_blank"><img class="capitalpartners" src="${url('images/logos/360capitalpartners.png')}" alt="360 Capital Partners"></a>
  <a href="http://www.techstars.com/" target="_blank"><img class="techstars" src="${url('images/logos/techstars.png')}" alt="Techstars"></a>
  <a href="http://www.aliveideas.fr/" target="_blank"><img class="aliveideas" src="${url('images/logos/aliveideas.png')}" alt="Alive Ideas"></a>