<%inherit file="/base.html"/>

<%block name="content">

  <%include file='resources_docker.html'/>

  <section class="doc">
    <h1>Press Release <span>October 25, 2016</span></h1>

    <div class="article">
        <h2>Infinit: the solution for persistent storage in containers</h2>
    </div>

    <h3>Quick Pitch</h3>
    <p>Techstars alumnus, Infinit (<a href="https://infinit.sh">https://infinit.sh</a>) releases a Docker Volume Plugin making it easy to manage and scale persistent storage for Docker.</p><br>

    <h4>New York, NY: 25 October 2016</h4>

    <p>Container technologies have revolutionized the computing world, in particular, by allowing developers and operators to break applications into several independent microservices.</p>

    <p>Docker has the ability to spin up containers and scale them very quickly. This is especially powerful for making stateless applications elastic. Developers want to expand this use of Docker to their entire application including those parts which require state. This state comes in the form of storage be it for a database, for media files served by websites, for logs or anything else.</p>

    <p>As such, containers are in desperate need of a natively elastic and distributed storage system that adapts to the behavior of a Docker application. A <a href="http://siliconangle.com/blog/2016/10/18/inadequate-storage-tools-hold-back-container-adoption-survey-finds/">recent survey</a> among IT specialists found that these storage issues are holding back the fast and growing adoption of container technology in the enterprise world.</p>

    <p>The team behind the startup Infinit (<a href="https://infinit.sh">https://infinit.sh</a>) has been working hard this past year to provide a storage platform with scalability and resilience in mind.</p>

    <p>One specificity of the Infinit Storage Platform is its decentralized architecture (unlike most distributed systems that rely on a master/slave model) that does away with single points of failure and bottlenecks while allowing for better scalability.</p>

    <p>Infinit is also highly programmatic allowing developers to customize the behavior of the storage infrastructure through a set of properties: encryption, deduplication, compression, redundancy, versioning, etc. The storage platform is accessible through a set of interfaces including block devices, object stores and POSIX-compliant file systems. </p>

    <p>This architecture allows Infinit to match the behavior of containerized applications. For instance, a Web application could be split into multiple microservices. Each of these services could rely on a specifically customized Infinit storage backend: a block device with encryption and compression disabled for a database container like MongoDB, an S3-compatible object store for storing images of a Wordpress frontend and so on.</p>

    <p>Infinit supports two possible architectures: hyper-converged and hyper-scaled. In a hyper-converged architecture, such as Docker Swarm, storage is scaled with networking and compute resources offering simplicity over control. A hyper-scaled architecture gives the administrator complete control to scale components independently as needed.</p>

    <p>No matter which architecture you choose, Infinit’s new Docker Volume Plugin will provide your containers with persistent storage that will always be accessible.</p>

    <p>More and more enterprises are realizing that expensive appliances, non-scalable protocols, monolithic setups and non-programmable components are unable to keep pace with ever-changing business requirements. Software-defined infrastructure solves this with unparalleled flexibility and dynamism.</p>

    <p>Infinit leverages the inroads Docker has made in the market and solves its problem of persistent storage so that more complex applications can be deployed.</p>

    <h3>About Infinit</h3>
    <p>Infinit International Inc. (<a href="https://infinit.sh">infinit.sh</a>) is a company with offices in New York City and Paris providing medium and large businesses with modern and secure file management products. For more information, please visit <a href="https://infinit.sh">infinit.sh</a> or email <a href="mailto:press@infinit.sh">press@infinit.sh</a>.</p>

    <%include file='investors.html'/>
  <section>

</%block>
