<nav id="sidebar">
    <div id="menu-anchor"></div>

    <br><br><strong>Resources</strong><br>

    <div class="spacer"></div>

    <a target="_blank" href="${url('images/logo-big.png')}"><img src="${url('images/logotype.png')}" alt="Logo Infinit"></a>
    <p>Logo</p>

    <a target="_blank" href="${url('images/schema-global@2x.png')}"><img target="_blank" src="${url('images/schema-global.png')}" alt="Schema of Infinit"></a>
    <p>Overall Schema</p>

    <a target="_blank" href="${url('images/schema-cover.png')}"><img target="_blank" src="${url('images/schema-cover.png')}" alt="Create Infrastructures with Infinit"></a>
    <p>Overall Cover</p>

    <a target="_blank" href="${url('images/terminal.png')}"><img target="_blank" src="${url('images/terminal.png')}" alt="Infinit Terminal CLI"></a>
    <p>CLI Example</p>

    <a target="_blank" href="${url('images/desktop-client@2x.png')}"><img target="_blank" src="${url('images/desktop-client.png')}" alt="Infinit Drive for Mac"></a>
    <p>Desktop Client</p>

    <a target="_blank" href="${url('images/virtual-disk-mac@2x.png')}"><img target="_blank" src="${url('images/virtual-disk-mac.png')}" alt="Virtual Disk Infinit on Mac"></a>
    <p>Virtual Drive</p>

    <a target="_blank" href="${url('images/schema-technology-infinit@2x.png')}"><img target="_blank" src="${url('images/schema-technology-infinit.png')}" alt="Schema Infinit Technology"></a>
    <p>Technology</p>
  </nav>