<nav id="sidebar">
    <div id="menu-anchor"></div>

    <br><br><strong>Resources</strong><br>

    <div class="spacer"></div>

    <a target="_blank" href="${url('images/logo-big.png')}"><img src="${url('images/logotype.png')}" alt="Logo Infinit"></a>
    <p>Logo</p>

    <a target="_blank" href="${url('images/schema-docker-volume-plugin@2x.png')}"><img src="${url('images/schema-docker-volume-plugin.png')}" alt="Schema of the Infinit Docker Volume Plugin"></a>
    <p>Docker Volume Plugin</p>

    <a target="_blank" href="${url('images/schema-global2@2x.png')}"><img target="_blank" src="${url('images/schema-global2.png')}" alt="Schema of Infinit"></a>
    <p>Overall Schema</p>

    <a target="_blank" href="${url('images/terminal-home@2x.png')}"><img target="_blank" src="${url('images/terminal-home.png')}" alt="Infinit Terminal CLI"></a>
    <p>CLI Example</p>
  </nav>