<nav id="sidebar">
    <div id="menu-anchor"></div>

    <br><br><span>Resources</span><br>

    <div class="spacer"></div>

    <a target="_blank" href="${url('images/logo-big.png')}"><img src="${url('images/logotype.png')}" alt="Logo Infinit"></a>
    <p>Logo</p>

    <a target="_blank" href="${url('images/schema-global@2x.png')}"><img target="_blank" src="${url('images/schema-global.png')}" alt="Schema of Infinit"></a>
    <p>Overall Schema</p>

    <a target="_blank" href="${url('images/schema-cover.png')}"><img target="_blank" src="${url('images/schema-cover.png')}" alt="Create Infrastructures with Infinit"></a>
    <p>Overall Cover</p>

    <a target="_blank" href="${url('images/schema-encryption@2x.png')}"><img target="_blank" src="${url('images/schema-encryption.png')}" alt="Schema Infinit encryption"></a>
    <p>Encryption Schema</p>

    <a target="_blank" href="${url('images/desktop-client@2x.png')}"><img target="_blank" src="${url('images/desktop-client.png')}" alt="Infinit Drive for Mac"></a>
    <p>Desktop Client</p>


    <a target="_blank" href="${url('images/virtual-disk-mac@2x.png')}"><img target="_blank" src="${url('images/virtual-disk-mac.png')}" alt="Virtual Disk Infinit on Mac"></a>
    <p>Virtual Drive</p>
  </nav>