{
  "uwsgi":
  {
    "daemonize": "${log_file}",
    "pidfile": "${pid_file}",
    "socket": "${uwsgi_socket}",
    "plugin": "python3",
    "pythonpath": "/lib/python3.5",
    "env": "MEMO_CRASH_REPORTER=0",
    "module": "infinit.beyond.wsgi",
    "master": true,
    "processes": 4,
    "harakiri": 15,
    "reload-mercy": 8,
    "cpu-affinity": 1,
    "stats": "/tmp/stats.socket",
    "max-requests": 2000,
    "limit-as": 512,
    "reload-on-as": 1024,
    "reload-on-rss": 512,
    "no-orphans": true,
    "vacuum": true,
    "set": ${options}
  }
}
