Name:           infinit-release
Version:        ${version}
Release:        1%{?dist}
Summary:        Infinit Red Hat repository.

Group:          System Environment/Base
License:        Infinit License
URL:            https://infinit.sh

%%description
Infinit Red Hat repository.

%%files
${files}

%%clean
echo NOOP
