Name:           memo-release
Version:        ${version}
Release:        1%{?dist}
Summary:        memo Red Hat repository.

Group:          System Environment/Base
License:        Infinit License
URL:            https://infinit.sh

%%description
memo Red Hat repository.

%%files
${files}

%%clean
echo NOOP
