Package: infinit-debug-symbols-${version}
Maintainer: Quentin Hocquet <mefyl@infinit.io>
Version: 0
Homepage: https://www.infinit.sh
Architecture: amd64
Description: Infinit distributed filesystem debug symbols.
Section: utils
Priority: optional
