<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <%
    title = context.get('title', 'Infinit')
    title = context.get('description', 'Powerful storage platform for developers and sysadmins')
    %>
    <title>${title}</title>
    <meta name="description" content="${description}" />

    <meta property="og:description" content="${description}" />
    <meta property="og:image" content="" />
    <meta property="og:title" content="${title}" />
    <meta property="fb:page_id" content="infinitdotio" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@infinit">
    <meta name="twitter:title" content="${title}">
    <meta name="twitter:description" content="${description}">
    <meta name="twitter:creator" content="@infinit">
    <meta name="twitter:image:src" content="">
    <meta name="twitter:domain" content="infinit.io">

    <meta name="author" content="Infinit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="icon" type="image/png" href="${url('images/favicon@2x.png')}" />
    <link rel="stylesheet" type="text/css" media="all" href="${url('css/main.min.css')}" />
  </head>

  <body class="${request.route.name} ${'documentation' if request.route.name[:4] == 'doc_' else ''}">

    <header>
      <a href="/"><img src="${url('images/logo.png')}" alt="Infinit"></a>

      <ul>
        <li><a href="/overview">Documentation</a></li>
        <li><a href="/get-started">Download</a></li>
      </ul>
    </header>

    <div class="content">
      <%block name="content">
      default
      </%block>
    </div>

    <script type="text/javascript" src="${url('js/scripts.min.js')}"></script>
  </body>
</html>
