<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- ${version} -->
    <%
    title = context.get('title', 'Infinit File Storage Platform')
    description = context.get('description', 'Infinit allows for the creation of flexible, secure and controlled file storage infrastructure on top of public, private or hybrid cloud resources.')
    %>
    <title>${title}</title>
    <meta name="description" content="${description}" />

    <meta name="robots" value="noindex" />

    <meta property="og:description" content="${description}" />
    <meta property="og:image" content="" />
    <meta property="og:title" content="${title}" />
    <meta property="fb:page_id" content="infinitdotio" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@infinit">
    <meta name="twitter:title" content="${title}">
    <meta name="twitter:description" content="${description}">
    <meta name="twitter:creator" content="@infinit">
    <meta name="twitter:image:src" content="">
    <meta name="twitter:domain" content="infinit.io">

    <meta name="author" content="Infinit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    % if 'doc_get_started' in request.route.name:
      <link rel="canonical" href="https://infinit.sh${route('doc_get_started')}" />
    % endif

    <link rel="icon" type="image/png" href="${url('images/favicon@2x.png')}" />
    <link rel="stylesheet" type="text/css" media="all" href="${url('css/main.min.css')}" />
  </head>

  <body class="${request.route.name} ${'documentation' if request.route.name[:4] == 'doc_' else ''} ${'doc_get_started' if 'doc_get_started' in request.route.name else ''}">

    <div id="popup_notice"><span class="icon"></span> <span class="message"></span></div>

    <header>
      <a href="${route('home')}"><img src="${url('images/logo.png')}" alt="Infinit"></a>

      <ul>
        <li>
          <a ${'class="active"' if request.route.name[:15] == 'doc_get_started' else ''} href="${route('doc_get_started')}">Get Started</a>
        </li>
        <li>
          <a ${'class="active"' if request.route.name[:4] == 'doc_' and request.route.name[:15] != 'doc_get_started' and request.route.name != 'doc_faq' else ''} href="${route('doc_overview')}">Documentation</a>
        </li>
        <li>
          <a ${'class="active"' if request.route.name == 'doc_faq' else ''} href="${route('doc_faq')}">FAQ</a>
        </li>
      </ul>
    </header>

    <div class="content">
      <%block name="content">
      default
      </%block>
    </div>

    <div id="slack" class="popup mfp-hide">
      <img src="${url('images/logos/slack.png')}" alt="Logo Slack"><br>
      <strong>Join our Slack community!</strong>
      <p>Ask questions to our team or our contributors, get involved in the project...</p>

      <form action="${route('slack')}" type="POST">
        <input type="email" name="email" placeholder="you@domain.com" required>
        <button type="submit" class="button">Get an invitation</button>
      </form>

      <br><br>
    </div>

    <footer>
      <div class="wrapper">
        <nav>
          <ul>
            <li class="made">
              <a class="icon-infinit" href="${route('home')}"></a>
              <p>Copyright 2015</p>
              <p>Infinit International Inc</p>
              <p class="paris">Made with <span>❤</span> in Paris</p>
              <p class="nyc">Accelerated by Techstars NYC</p>
            </li>
            <li class="list-company">
              <ul>
                <li><a href="http://infinit.one">About</a></li>
                <li><a href="${route('contact')}">Contact</a></li>
                <li><a href="http://blog.infinit.one">Blog</a></li>
                <li><a href="${route('legal')}">Legal</a></li>
              </ul>
            </li>
            <li class="list-help">
              <ul>
                <li><a href="http://help.infinit.sh">Feedback</a></li>
              </ul>
            </li>
            <li class="list-product">
              <ul>
                <li><a href="${route('doc_get_started')}">Get Started</a></li>
                <li><a href="${route('doc_overview')}">Documentation</a></li>
                <li><a href="${route('solutions')}">Solutions</a></li>
                <li><a href="${route('opensource')}">Open Source</a></li>
              </ul>
            </li>
            <li class="connect">
              <ul>
                <li class="category">Subscribe the newsletter:</li>
              </ul>

              <form action="//infinit.us2.list-manage.com/subscribe/post?u=29987e577ffc85d3a773ae9f0&amp;id=b537e019ee" method="post" target="_blank" novalidate>

                <input type="email" placeholder="Enter email address..." value="" name="EMAIL" class="required email">

                <div style="position: absolute; left: -5000px;">
                  <input type="text" name="b_29987e577ffc85d3a773ae9f0_b537e019ee" tabindex="-1" value="">
                </div>

                <input type="submit" value="Subscribe" name="subscribe" class="button">
              </form>

              <ul class="social">
                <li><a class="icon-facebook" href="https://www.facebook.com/groups/1518536058464674/" target="_blank">Facebook Group</a></li>
                <li><a class="icon-twitter" href="http://twitter.com/infinit_sh" target="_blank">Twitter</a></li>
                <li><a class="icon-github" href="http://github.com/infinit" target="_blank">Github</a></li>
                <li><a class="icon-slack" href="#slack">Slack</a></li>
                <li><a class="icon-infinit" href="http://webchat.freenode.net/?channels=infinit" target="_blank">IRC</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </footer>

    <script type="text/javascript" src="${url('js/scripts.min.js')}"></script>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-31957100-14', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
