<%inherit file="/base.html"/>

<%block name="content">

  <div class="heading">
    <div class="wrapper">
      <h1>We are an international team working towards a better Internet.</h1><br /><br />
      <div class="contact">Contact us at
        <a href="mailto:contact@infinit.sh">
          contact@infinit.sh</a>
        or send us cool stuff on Infinit.</div>
    </div>
  </div>

  <div class="team">
    <div class="title">The Team</div>

    <div class="description">
      <p><strong>We believe that everyone has the right to privacy and peace-of-mind in particular when it comes to files, being personal or professional.</strong> </p>

      <p>We started working on a <a href="https://infinit.io">file sharing product</a> as a demonstration of the power and flexibility of the technology we have developed. After 3 years of hard work, the Infinit filesystem is finally available to developers and administrators around the world.</p>
    </div>

    <div class="wrapper">
      <div class="swagger">
        <div class="networks">
          <a class="avatar antony"></a>
          <a target="_blank" href="https://www.facebook.com/Dimrok" class="icon-facebook icons"></a>
          <a target="_blank" href="http://www.linkedin.com/pub/antony-mechin/62/a0b/644" class="icon-linkedin icons"></a>
        </div>
        <div class="infos">
          <h3>Antony Méchin</h3>
          <strong>Retired Carnivore</strong>
          <p>Antony has recently made a commitment to be vegetarian, at least 8 days per month. He enjoys taking long walks on Southridge Beach and on occasion stops for a beer at the Prancing Pony Inn. In his free time, he enjoys the company of dwarves and elves.</p>
        </div>
      </div>

      <div class="swagger">
        <div class="networks">
          <a class="avatar baptiste"></a>
          <a target="_blank" href="http://twitter.com/Baptiste_Fradin" class="icon-twitter icons"></a>
          <a target="_blank" href="http://www.linkedin.com/in/bfradin" class="icon-linkedin icons"></a>
        </div>
        <div class="infos">
          <h3>Baptiste Fradin</h3>
          <strong>Local Punk Star</strong>
          <p>An up and coming heavy metal singer until 2008, Baptiste became vocally incapacitated when he was tackled by his biggest fan, Meatball, during a concert in Edinburgh. Lacking a harsh vocal style, he turned to the opera where he worked as coat room attendant until founding Infinit.</p>
        </div>
      </div>

      <div class="swagger">
        <div class="networks">
          <a class="avatar chris"></a>
          <a target="_blank" href="https://twitter.com/ccrone" class="icon-twitter icons"></a>
          <a target="_blank" href="http://www.linkedin.com/pub/christopher-crone/21/ab5/15" class="icon-linkedin icons"></a>
        </div>
        <div class="infos">
          <h3>Chris Crone</h3>
          <strong>Toofer Wun</strong>
          <p>In 2010, Chris stumbled upon a Velib’ in Johannesburg, South Africa. Tired of surfing and mangos, and driven by a need to live in a city with a gratuitously large public bike system, Chris crossed Africa by bike to achieve his dream of living in Paris.</p>
        </div>
      </div>

      <div class="swagger">
        <div class="networks">
          <a class="avatar gaetan"></a>
          <a target="_blank" href="http://twitter.com/cadeuh" class="icon-twitter icons"></a>
          <a target="_blank" href="http://dribbble.com/cad" class="icon-dribbble icons"></a>
          <a target="_blank" href="http://soundcloud.com/cadeuh" class="icon-soundcloud icons"></a>
        </div>
        <div class="infos">
          <h3>Gaëtan Rochel</h3>
          <strong>Ze German</strong>
          <p>Gaëtan – what the hell kind of name is that? Gaëtan was born in Moselle, a French region often invaded by Germans. In 2009, he founded an electronic music movement to bring the two countries even closer together. He was not yet aware of the existence of the EU.</p>
        </div>
      </div>

      <div class="swagger">
        <div class="networks">
          <a class="avatar julien"></a>
          <a target="_blank" href="http://www.linkedin.com/in/julienquintard" class="icon-linkedin icons"></a>
        </div>
        <div class="infos">
          <h3>Julien Quintard</h3>
          <strong>Papa Pastis</strong>
          <p>Four years ago, Julien applied to be on the <a href="http://en.wikipedia.org/wiki/Les_Anges_de_la_t%C3%A9l%C3%A9r%C3%A9alit%C3%A9">French equivalent of the Jersey Shore</a>, but failed miserably during the interviews. With his dreams in shambles, he left for the University of Cambridge to write his thesis on a worldwide storage infrastructure.</p>
        </div>
      </div>

      <div class="swagger">
        <div class="networks">
          <a class="avatar matthieu"></a>
          <a target="_blank" href="http://www.linkedin.com/pub/matthieu-nottale/52/3b1/804" class="icon-linkedin icons"></a>
        </div>
        <div class="infos">
          <h3>Matthieu Nottale</h3>
          <strong>Crazy Cat Lady</strong>
          <p>Matthieu has the unique story of being raised in the countryside by 3 cats: Marc, Luc and Jean. His distinctive childhood spurred his interests in feline automation. His most recent feat of engineering consists of a robotic tabby that can amazingly, stretch, purr and sleep.</p>
        </div>
      </div>

      <div class="swagger">
        <div class="networks">
          <a class="avatar patrick"></a>
          <a target="_blank" href="http://twitter.com/pwperl" class="icon-twitter icons"></a>
          <a target="_blank" href="http://www.linkedin.com/in/patrickperlmutter" class="icon-linkedin icons"></a>
        </div>
        <div class="infos">
          <h3>Patrick Perlmutter</h3>
          <strong>Faux Bobo</strong>
          <p>A lover of both freedom and baguettes, Patrick chose to give up red, white and blue in favor of rouge, blanc and bleu – especially the bleu. The rouge and the blanc aren’t so bad either. </p>
        </div>
      </div>

      <div class="swagger">
        <div class="networks">
          <a class="avatar quentin"></a>
          <a target="_blank" href="http://www.linkedin.com/pub/quentin-hocquet/4/322/27a" class="icon-linkedin icons"></a>
          <a target="_blank" href="https://www.facebook.com/mefyl" class="icon-facebook icons"></a>
        </div>
        <div class="infos">
          <h3>Quentin Hocquet</h3>
          <strong>Pippi Longstocking</strong>
          <p>Inspired by Buddhist monks, Quentin decided to grow his hair out starting in 1996. He launched a line of beauty products for fans of hardcore metal. Overwhelmed by his success, he went on to build the world’s first automated, robotic hair stylist.</p>
        </div>
      </div>

      <div class="swagger you">
        <div class="networks">
          <a class="avatar you"></a>
        </div>
        <div class="infos">
          <h3>You?</h3>
          <strong><a href="${route('contact')}">Contact Us</a></strong>
          <p>You enjoy being challenged on Sunday morning. Beer makes you happy, and whiskey... well... whiskey makes you happier. You like sausage, but not that much. You express yourself in letters and numbers. Changing the status quo. Yeah that's what you're about.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="map blue">
    <div class="wrapper">
      <h2>We are based in <a href="http://infinit.paris" target="_blank">Paris</a>, with teams in NYC.</h2>

      <img src="${url('images/bg-worldmap.png')}" alt="World Map Infinit">
    </div>
  </section>

  <section class="philosophy">
    <h2>Our philosophy</h2>
    <ul class="values">
      <li><span class="icon-paris"></span><p>Freedom</p></li>
      <li><span class="icon-technology"></span><p>Technology</p></li>
      <li><span class="icon-beer"></span><p>Bombarde</p></li>
      <li><span class="icon-design"></span><p>Design</p></li>
      <li><span class="icon-privacy"></span><p>Privacy</p></li>
      <li><span class="icon-ethics"></span><p>Ethics</p></li>
    </ul>
  </section>

  <section class="blue investors">
    <h2>Our investors</h2>
    <div class="wrapper">
      <ul class="investors">
        <li class="alvencapital">
          <a href="http://www.alvencapital.com/en" target="_blank"><img src="${url('images/logos/alvencapital.png')}" alt="Alven Capital Logo"></a>
        </li>
        <li><a href="http://360capitalpartners.com/" target="_blank"><img src="${url('images/logos/360capitalpartners.png')}" alt="360capitalpartners Logo"></a></li>
        <li><a href="http://techstars.com" target="_blank"><img src="${url('images/logos/techstars.png')}" alt="Techstars Logo"></a></li>
        <li><a href="http://www.aliveideas.fr/" target="_blank"><img src="${url('images/logos/aliveideas.png')}" alt="aliveideas Logo"></a></li>
      </ul>
    </div>
  </section>


</%block>
