<%inherit file="/base.html"/>

<%block name="content">

  <section class="doc">
    <h1>Contact us</h1>
    <p>Please fill the form below to get in touch with a representative of Infinit International Inc.</p>

    <form action="">

      <input type="text" name="first_name" placeholder="First Name">
      <input type="text" name="last_name" placeholder="Last Name">
      <input type="text" name="company_name" placeholder="Company Name">
      <input type="text" name="country" placeholder="Country">
      <input class="email" type="email" name="email" placeholder="Email">

      <br><br>

      <textarea name="message"></textarea>

      <button type="submit" class="button">Send</button>
    </form>

  </section>

</%block>