<%inherit file="/base.html"/>

<%block name="content">
  <section class="presentation">
    <h1>Bringing Persistent Storage to Docker</h1>
    <p class="subtitle">Allow your Docker applications to be stateful with persistent storage provided by Infinit.</p>

    <a href="#projects" class="button blue">See our projects</a> <br>
    <img src="${url('images/schema-persistent-storage-docker.png')}" alt="Persistent Storage for Docker with Infinit"><br>
    <p class="legend">If Node 1 fails, Infinit will make the storage available on another node.</p>
  </section>

  <div class="projects">
    <hr>
    <h2>Our Docker Projects</h2>
  </div>

  <section class="projects" id="projects">

    <div class="wrapper">
      <div class="project volume">
        <img src="${url('images/icons/docker-volume-plugin.png')}" alt="Infinit Docker Volume Plugin">
        <h3>Docker Volume Plugin</h3>
        <p>Infinit's Docker volume plugin makes it easy to mount and manage Infinit volumes using Docker.</p>
        <a class="button blue" href="${route('doc_docker_plugin')}">Read more</a>
        <hr>
        <img class="moby" src="${url('images/icons/docker-cut.png')}" alt="">
      </div>

      <div class="project swarm disabled">
        <img src="${url('images/icons/infinit-cluster.png')}" alt="Infinit Docker Swarm Service"><br>
        <h3>Docker Swarm Service</h3>
        <p>Aggregates the local storage of each Docker Swarm node and provides a shared volume that can be mounted by any Docker service.</p>
        <span>Soon</span>
        <hr>
        <img class="moby" src="${url('images/icons/docker-cut.png')}" alt="">
      </div>

      <div class="project engine disabled">
        <img src="${url('images/icons/question-mark.png')}" alt="Infinit Docker Engine Plugin" width="46" height="65"><br>
        <h3>Docker Engine Plugin</h3>
        <p></p>
        <span>Soon</span>
        <hr>
        <img class="moby" src="${url('images/icons/docker-cut.png')}" alt="">
      </div>

      <div class="project blog dtr disabled">
        <strong>Blog</strong><br>
        <h3>Storage for Docker Trusted Registry</h3>
        <p>How Infinit decentralized architecture is used with an object store to store Docker images in the Docker Trusted Registries (DTR).</p>
        <span>Soon</span>
        <hr>
        <img class="moby" src="${url('images/icons/docker-cut.png')}" alt="">
      </div>

      <div class="project blog disabled">
        <strong>Blog</strong><br>
        <h3>File System for InfraKit</h3>
        <p>How an Infinit file system is used to store some of the InfraKit configuration files.</p>
        <span>Soon</span>
        <hr>
        <img class="moby" src="${url('images/icons/docker-cut.png')}" alt="">
      </div>
    </div>
  </section>

  <section class="scale">
    <h2>Scale your storage according to your needs</h2>

    <div class="wrapper">

      <div class="hyperconvergence">
        <img src="${url('images/icons/hyperconvergence.png')}" alt="Hyper-convergent architecture Docker">
        <h3>Hyper-convergent architecture</h3>
        <span>Best for Developers</span>
        <p>Storage is scaled with networking and compute resources in the application cluster (e.g. Docker Swarm) offering simplicity over control.</p>
      </div>

      <div class="hyperscalable">
        <img src="${url('images/icons/hyperscalable.png')}" alt="Hyper-convergent architecture Docker">
        <h3>Hyper-scalable architecture</h3>
        <span>Best for Operators</span>
        <p>Gives the administrator complete control to scale components independently as needed.</p>
      </div>
    </div>
  </section>

  <section class="blog">
    <a href="http://blog.infinit.sh/hyperconvergent-and-hyperscalable-storage-for-docker-2/">
      <span>On our blog</span>
      <h3>How to choose between hyper-convergent and hyper-scalable storage architectures</h3>
      <p>Before jumping directly into the heart of the article, let's clarify these two terms with their definition to bring...</p>
    </a>
  </section> 

</%block>