<%inherit file="/base.html"/>

<%block name="content">
  <section class="presentation">
    <h1>Persistent Storage for Docker</h1>
    <p class="subtitle">Deploy your stateful and/or legacy applications as easily as your modern stateless ones thanks to Infinit's elastic storage platform.</p>

    <img src="${url('images/schema-persistent-storage-docker.png')}" alt="Persistent Storage for Docker with Infinit"><br>
    <p class="legend">In this scenario, a node fails, triggering the relocation of the container it hosted. Once restarted on another host, the application finds its data back, exactly in the state prior to the failure.</p>
  </section>

  <div class="projects">
    <hr>
    <h2>Integrated in Docker's Ecosystem</h2>
  </div>

  <section class="projects" id="projects">

    <div class="wrapper">
      <div class="project volume">
        <img src="${url('images/icons/docker-volume-plugin.png')}" alt="Infinit Docker Volume Plugin">
        <h3>Docker Volume Plugin</h3>
        <p>Infinit's Docker volume plugin makes it possible to access a persistent Infinit volume from inside a Docker container.</p>
        <a class="button blue" href="${route('doc_docker_plugin')}">Read more</a>
        <hr>
        <img class="moby" src="${url('images/icons/docker-cut.png')}" alt="">
      </div>

      <div class="project swarm disabled">
        <img src="${url('images/icons/infinit-cluster.png')}" alt="Infinit Docker Swarm Service"><br>
        <h3>Docker Swarm Service</h3>
        <p>Deploy Infinit over a set of hosts within a Docker swarm to act as the persistent storage fabric for your containerized applications.</p>
        <span>Soon</span>
        <hr>
        <img class="moby" src="${url('images/icons/docker-cut.png')}" alt="">
      </div>

      <div class="project engine disabled">
        <img src="${url('images/icons/question-mark.png')}" alt="Infinit Docker Engine Plugin" width="46" height="65"><br>
        <h3>Docker Engine Plugin</h3>
        <p>Easily instantiate Infinit's Docker Engine Plugin to be able to access a deployed Infinit storage platform.</p>
        <span>Soon</span>
        <hr>
        <img class="moby" src="${url('images/icons/docker-cut.png')}" alt="">
      </div>

      <div class="project blog dtr disabled">
        <strong>Blog</strong><br>
        <h3>Scalable Storage for Docker Trusted Registry</h3>
        <p>Learn how Infinit can be used to deploy an object storage logic to store Docker images through a Docker Trusted Registry (DTR).</p>
        <span>Soon</span>
        <hr>
        <img class="moby" src="${url('images/icons/docker-cut.png')}" alt="">
      </div>

      <div class="project blog disabled">
        <strong>Blog</strong><br>
        <h3>File System for InfraKit's Configuration Files</h3>
        <p>InfraKit uses Infinit's POSIX-compliant file system to reliably store and share configuration files between its hosts.</p>
        <span>Soon</span>
        <hr>
        <img class="moby" src="${url('images/icons/docker-cut.png')}" alt="">
      </div>
    </div>
  </section>

  <section class="scale">
    <h2>Different Deployments for Different People</h2>

    <div class="wrapper">

      <div class="hyperconvergence">
        <img src="${url('images/icons/hyperconvergence.png')}" alt="Hyper-convergent architecture Docker">
        <h3>Hyper-convergent architecture</h3>
        <span>Best for Developers</span>
        <p>Storage, network and compute resources all scale together within the application cluster (Docker Swarm, Kubernetes etc.) providing simplicity over control.</p>
      </div>

      <div class="hyperscalable">
        <img src="${url('images/icons/hyperscalable.png')}" alt="Hyper-convergent architecture Docker">
        <h3>Hyper-scalable architecture</h3>
        <span>Best for Operators</span>
        <p>Gives the operators complete control over how and when to scale the storage component. As such, every resource (storage, network, compute) can be scaled independently.</p>
      </div>
    </div>
  </section>

  <section class="blog">
    <a href="http://blog.infinit.sh/hyperconvergent-and-hyperscalable-storage-for-docker-2/">
      <span>On our blog</span>
      <h3>How to choose between hyper-convergent and hyper-scalable storage architectures</h3>
      <p>Before jumping directly into the heart of the article, let's clarify these two terms with their definition to bring...</p>
    </a>
  </section>

</%block>
