<%inherit file="/base.html"/>

<%block name="content">

  <h1>Download Infinit</h1>
  <p class="subtitle">Available for Linux, Mac, Windows and Docker.</p>

  <div class="wrapper">
    <section class="platforms doc">
      <div class="os">
        <div class="platform linux">
          <div class="name">
            <img src="${url('images/logos/gnu.png')}">
            <h2>GNU/Linux</h2>
          </div>
          <div class="links">
            <p>
              <img class="ubuntu" src="${url('images/logos/ubuntu.png')}">
              <a class="open-popup" href="#linux-apt">For Ubuntu</a>
              <a class="open-popup" href="#linux-tarball">or download tarball</a>
            </p>
            <p>
              <img class="debian" src="${url('images/logos/debian.png')}">
              <a class="open-popup" href="#linux-apt">For Debian</a>
              <a class="open-popup" href="#linux-tarball">or download tarball</a>
            </p>
            <p>
              <img class="centos" src="${url('images/logos/centos.png')}">
              <a class="open-popup" href="#linux-yum">For CentOS</a>
            </p>
            <p>
              <img class="alpine" src="${url('images/logos/alpine.png')}">
              <a class="open-popup" href="#linux-alpine">For Alpine</a>
            </p>
            <!--
            <p>
              <img class="raspberry" src="${url('images/logos/raspberry.png')}">
              <a class="open-popup" href="#linux-arm">For Raspberry (ARM)</a>
            </p>
            -->
          </div>
        </div>

        <div class="platform mac">
          <div class="name">
            <img src="${url('images/icons/apple.png')}">
            <h2>macOS</h2>
          </div>
          <div class="links">
            <p>Requires macOS 10.7 or newer</p>
            <a class="open-popup button" href="#mac-homebrew">Download</a>
            <a class="open-popup direct" href="#mac-tarball">or download tarball</a>
          </div>
        </div>

        <div class="platform windows">
          <div class="name">
            <img src="${url('images/icons/windows.png')}">
            <h2>Windows</h2>
          </div>
          <div class="links">
            <p>Requires Windows Vista or newer</p>
            <p>(64-bit only)</p>
            <a class="open-popup button" href="#windows">Download</a><br>
          </div>
        </div>
      </div>

      <div class="containers">
        <div class="platform docker">
          <div class="name">
            <img src="${url('images/logos/docker-small.png')}">
            <h2>Docker</h2>
          </div>
          <div class="links">
            <p>Requires Docker 1.12 or newer</p>
            <a class="open-popup button" href="#docker">Download</a><br>
          </div>
        </div>

        <div class="platform kubernetes soon">
          <div class="name">
            <img src="${url('images/logos/kubernetes-small.png')}">
            <h2>Kubernetes</h2>
          </div>
          <div class="links">
            Coming Soon
          </div>
        </div>

        <div class="platform mesosphere soon">
          <div class="name">
            <img src="${url('images/logos/mesosphere-small.png')}">
            <h2>Mesosphere</h2>
          </div>
          <div class="links">
            Coming Soon
          </div>
        </div>

        <div class="platform openstack soon">
          <div class="name">
            <img src="${url('images/logos/openstack-small.png')}">
            <h2>OpenStack</h2>
          </div>
          <div class="links">
            Coming Soon
          </div>
        </div>
      </div>
    </section>
  </div>

  <p class="legal"><em><strong>NOTE:</strong> By downloading the software, you accept the <a href="${route('legal')}">Terms and Conditions</a> of Infinit.</em></p>

  <div class="popup" id="mac-homebrew">
    <section class="doc">
      <h3>Download FUSE</h3>
      <%include file='docs/generated/get_started/mac_fuse_install.html'/>
      <br><h3>Download Infinit via Homebrew</h3>
      <%include file='docs/generated/get_started/mac_homebrew_install.html'/>
    </section>
  </div>

  <div class="popup" id="mac-tarball">
    <section class="doc">
      <h3>Download FUSE</h3>
      <%include file='docs/generated/get_started/mac_fuse_install.html'/>
      <br><h3>Download Infinit Tarball</h3>
      <%include file='docs/generated/get_started/mac_tarball_install.html'/>
    </section>
  </div>

  <div class="popup" id="linux-apt">
    <section class="doc">
      <h3>Download FUSE</h3>
      <%include file='docs/generated/get_started/linux_fuse_install.html'/>
      <br><h3>Download Infinit with apt</h3>
      <%include file='docs/generated/get_started/linux_apt_install.html'/>
    </section>
  </div>

  <div class="popup" id="linux-yum">
    <section class="doc">
      <h3>Download Infinit with yum</h3>
      <%include file='docs/generated/get_started/linux_yum_install.html'/>
    </section>
  </div>

  <div class="popup" id="linux-arm">
    <section class="doc">
      <h3>Download Infinit Tarball</h3>
      <%include file='docs/generated/get_started/linux_arm_install.html'/>
    </section>
  </div>

  <div class="popup" id="linux-alpine">
    <section class="doc">
      <h3>Download Infinit Tarball</h3>
      <%include file='docs/generated/get_started/linux_alpine_install.html'/>
    </section>
  </div>

  <div class="popup" id="linux-tarball">
    <section class="doc">
      <h3>Download FUSE</h3>
      <%include file='docs/generated/get_started/linux_fuse_install.html'/>
      <br><h3>Download Infinit Tarball</h3>
      <%include file='docs/generated/get_started/linux_tarball_install.html'/>
    </section>
  </div>

  <div class="popup" id="windows">
    <section class="doc">
      <h3>Download Dokany</h3>
      <%include file='docs/generated/get_started/windows_dokany_install.html'/>
      <br><h3>Download Infinit Tarball</h3>
      <%include file='docs/generated/get_started/windows_tarball_install.html'/>
    </section>
  </div>

  <div class="popup" id="docker">
    <section class="doc">
      <h3>Get Infinit</h3>
      <%include file='docs/generated/get_started/docker_install.html'/>
    </section>
  </div>

</%block>
