<%inherit file="/base.html"/>

<%block name="content">

  <h1>Frequently Asked Questions</h1>

  <main>
    <section class="filters">
      <div id="category" class="facet"></div>
    </section>

    <section class="search">
      <div id="search-input"></div>
      <div id="search-input-icon"></div>
    </section>

    <section class="questions">
      <div id="stats"></div>

      <div id="hits"></div>

      <div id="pagination"></div>
    </section>
  </main>

  <script type="text/html" id="hit-template">
    <div class="hit">
      <div class="hit-content">
        <h2 class="hit-question">{{{_highlightResult.question.value}}} <span>{{{category}}}</span></h2>
        <p class="hit-answer">{{{_highlightResult.answer.value}}}</p>
      </div>
    </div>
  </script>

  <script type="text/html" id="no-results-template">
    <div id="no-results-message">
      <div class="hit">
        <h2>No results.</h2>
        <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
        <a href="${route('faq')}#" class='clear-all'>Clear search</a>
      </div>
    </div>
  </script>

</%block>
