<%inherit file="/base.html"/>

<%block name="content">

  <h1>Frequently Asked Questions</h1>

  <main>
    <section class="filters">
      <div class="facets">
        <div class="popular"></div>
        <div class="general"></div>
        <div class="technology"></div>
        <div class="comparisons"></div>
        <div class="security"></div>
      </div>
    </section>

    <section class="search">
      <div id="search-input"></div>
      <div id="search-input-icon"></div>
    </section>

    <section class="questions">
      <div id="stats"></div>

      <div id="hits"></div>

      <div id="pagination"></div>
    </section>
  </main>

  <script id="single-facet-template" type="text/template">
    <div class="facet {{#active}}active{{/active}}">
      <a href="#">
        <img src="/images/icons/{{icon_name}}.png" alt="{{label}}">
        <span class="label">{{label}}</span>
      </a>
    </div>
  </script>

  <script type="text/html" id="hit-template">
    <div class="hit">
      <div class="hit-content">
        <h2 class="hit-question">{{{_highlightResult.question.value}}} <span>{{{category}}}</span></h2>
        <p class="hit-answer">{{{_highlightResult.answer.value}}}</p>
      </div>
    </div>
  </script>

  <script type="text/html" id="no-results-template">
    <div id="no-results-message">
      <div class="hit">
        <h2>No results.</h2>
        <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
        <p>Come ask us directly your question on <a href="https://twitter.com/infinit_sh">Twitter</a>, <a href="https://reddit.com/r/infinit">reddit</a>, <a href="https://www.facebook.com/groups/1518536058464674/">Facebook</a>, <a href="/#slack">Slack</a> or <a href="http://webchat.freenode.net/?channels=infinit">IRC</a>!</p>
        <p><a href="${route('faq')}#" class='clear-all'>Clear search</a></p>
      </div>
    </div>
  </script>

</%block>
