<%inherit file="/base.html"/>

<%block name="content">

  <section class="presentation">

    <div class="headline">
      <h1>Decentralized Software&#8209;Based File&nbsp;Storage&nbsp;Platform</h1>
      <h3>#peer&#8209;to&#8209;peer #security #redundancy #filesystem #open&#8209;source</h3>
      <a href="${route('doc_get_started')}" class="button big">Get Started</a>

      <img src="${url('images/schema-global.png')}" alt="Schema of Infinit">
    </div>
  </section>

  <section class="features summary">
    <div class="wrapper">
      <p class="title">Create flexible and controllable storage infrastructure</p>
      <hr>

      <div class="network">
        <img src="${url('images/icons/network.png')}">
        <h3>Create Network</h3>
        <p>Create a network composed of several machines, clients and/or servers.</p>
      </div>

      <span class="arrow"><img src="${url('images/icons/arrow-right.png')}"></span>

      <div class="storage">
        <img src="${url('images/icons/storage.png')}">
        <h3>Attach Storage</h3>
        <p>Attach storage resources to a machine, being a local disk, a cloud provider or else.</p>
      </div>

      <span class="arrow"><img src="${url('images/icons/arrow-right.png')}"></span>

      <div class="volume">
        <img src="${url('images/icons/folder.png')}">
        <h3>Mount Volume</h3>
        <p>Create a volume and access files through a POSIX-compliant file system interface.­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­</p>
      </div>

      <hr>

      <div class="terminal">
        <div class="header">
          <ul><li class="red"></li><li class="yellow"></li><li class="green"></li></ul>
        </div>
<pre><code id="commands">$> infinit-storage --create --s3 --name s3 --capacity 10TB
Created storage "s3".

$> infinit-network --create --storage s3 --storage local --name hybrid-cloud
Created network "hybrid-cloud".

$> infinit-volume --create --network hybrid-cloud --name company
Starting network "hybrid-cloud".
Creating volume root blocks.
Created volume "company".

$> infinit-volume --mount --name company --ountpoint /mnt/company/
Mounting volume "company".

$> cp -R Engineering /mnt/company/

$> ​▎
</code></pre>
      </div>

  </div>
  </section>

  <div class="wrapper">
    <section class="features benefits">
      <p class="title">Infinit is deployed once and evolves along with your needs</p>

      <div>
        <img src="${url('images/icons/scalable.png')}">
        <h3>Scalable</h3>
        <p>Scales on demand according to your business requirements, from 1GB to petabytes and beyond.</p>
      </div>

      <div>
        <img src="${url('images/icons/lock.png')}">
        <h3>Secure</h3>
        <p>All the files are encrypted both in transit and at rest through bank-level cryptographic algorithms.</p>
      </div>

      <div class="fault">
        <img src="${url('images/icons/fault.png')}">
        <h3>Fault Tolerant</h3>
        <p>Designed to tolerate disk, server and even malicious failures and to automatically adapt without any human intervention.</p>
      </div>

      <div class="performance">
        <img src="${url('images/icons/rocket.png')}">
        <h3>Efficient</h3>
        <p>Benefit from a high-throughput network protocol for faster and on-demand data retrieval.</p>
      </div>

      <div class="software">
        <img src="${url('images/icons/code.png')}">
        <h3>Hardware Agnostic</h3>
        <p>100% software-based system for building enterprise-class storage infrastructure.</p>
      </div>

      <div>
        <img src="${url('images/icons/globe.png')}">
        <h3>Flexible</h3>
        <p>Control your costs and the localisation of your data by selecting the storage resources &amp; providers involved in your infrastructure.</p>
      </div>

      ## <div class="cta"><a class="button border black" href="${route('doc_overview')}">Learn More</a></div>
    </section>
  </div>


  <section class="client">
    <div class="app">
      <img src="${url('images/desktop-client.png')}" alt="Infinit Drive Desktop App">
    </div>

    <div class="users">
      <h3>Desktop Client</h3>
      <p>Invite your non-tech-savvy colleagues to join drives you defined in your freshly created storage infrastructure.</p>
      <img src="${url('images/icons/platforms.png')}" alt="Available for Mac, Windows and Linux"><br>

      <a class="button" href="http://infinit.us2.list-manage.com/subscribe?u=29987e577ffc85d3a773ae9f0&id=b537e019ee" target="_blank">Get Invitation</a>
    </div>
  </section>


  <section class="usecases">
    <p class="title">Infinit is the result of 8 years of research and development</p>

    <div class="usecase infrastructure">
      <img src="${url('images/schema-infrastructure.png')}" alt="Schema Overlay Network">
      <h2>Overlay Network</h2>
      <p>Connects thousands of computing devices in peer-to-peer in order to scale and prevent any bottleneck or single point of failure.</p>
    </div>

    <div class="usecase dht">
      <img src="${url('images/schema-dht.png')}" alt="Schema DHT">
      <h2>Distributed Hash Table</h2>
      <p>Replicates encrypted blocks of data in order to ensure their availability and reliability in a decentralized manner.</p>
    </div>

    <div class="usecase fs">
      <img src="${url('images/schema-file-system.png')}" alt="Schema File System">
      <h2>File System</h2>
      <p>Provides a low-level virtual disk interface on top of the DHT, allowing for a hierarchical organization of files.</p>
    </div>

    <!-- <a class="button border black" href="${route('doc_technology')}">More about our technology</a> -->
  </section>


  <section class="download" id="download">
    <p class="title">Start using Infinit now</p>
    <p class="subtitle">Create your first infrastructure in a few minutes</p>

    <a class="button big" href="${route('doc_get_started')}">Get Started</a>
    <br><br><br><br><br><br>

    <!--
    <div>
      <img src="${url('images/terminal-mini.png')}">
      <h4>Storage Infrastructure</h4>
      <span>for sysadmins and devops</span>
      <p>Build sophisticated and efficient software-based storage infrastructure by relying on public, private or hybrid cloud environments.</p>
      <a href="${route('doc_get_started')}" class="button">Get Started</a>
    </div>
    <div>
      <img src="${url('images/desktop-client-mini.png')}">
      <h4>Drive</h4>
      <span>for small and medium businesses</span>
      <p>Benefit from a easy-to-use and secure cloud file synchronization solution while controlling in which country/provider your data is stored.</p>
      <a href="${route('drive')}" class="button">Download</a>
    </div>
    <div>
      <img src="${url('images/branded-apps.png')}">
      <h4>Cloud Storage as a Service</h4>
      <span>for network operators and device manufacturers</span>
      <p>Integrate a pre-build branded cloud file storage service that will increase engagement and create a new revenue stream.</p>
      <a href="${route('solutions')}" class="button">Browse Solutions</a>
    </div>
    -->
  </section>

  <section class="estimation">

  </section>


</%block>
