<%inherit file="/base.html"/>

<%block name="content">

  <a class="button btn-contact" href="${route('contact')}" data-balloon="Any questions?" data-balloon-pos="up">
    <svg class="chat-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 85.55">
      <path d="M32 52.8a42.4 42.4 0 0 1-5.8-.6C25.7 52.6 3.6 59 2 59s7.2-14 7.2-14.5c-5.7-4.7-9.2-11-9.2-18C0 11.7 15 0 33.7 0s33.6 11.8 33.6 26.4a21 21 0 0 1-.8 6 35.2 35.2 0 0 0-5.2-.4c-14.7 0-27 9-29.2 20.8zM62 82a32.8 32.8 0 0 0 10.8-1.7c.6 0 14.7 6 15.6 5.2s-5-11.2-5-11.8A21.6 21.6 0 0 0 90 58.3C90 45 77.4 34.5 61.8 34.5S33.5 45 33.5 58.3 46.2 82 61.8 82z"/>
    </svg>
  </a>

  <section class="presentation">
    <h1>Infinit Storage Platform</h1>
    <h2>An open-source decentralized software-based storage platform for modern environments.</h2>

    <div class="schema-full">
      <img src="${url('images/schema-storage-platform.png')}" alt="Schema Infinit Storage Platform">
    </div>

    <div class="schema">
      <div class="pool">
        <div class="servers">
          <dl class="legend kv">
            <h4>Key-Value Store</h4>
          </dl>
          <dl class="legend api">
            <h4>Logics</h4>
          </dl>

          <dl class="legend logic">
            <h4>Interfaces</h4>
          </dl>

          <div class="title">
            <h4>Storage Pool</h4>
            <span class="storage">160 TB</span>
          </div>

          <div class="node">
            <img src="${url('images/icons/server.png')}" alt="Infinit Server">
            <p>Server</p>
            <strong class="note">(bare metal)</strong><br>
            <span class="storage">15 TB</span>
          </div>
          <div class="node">
            <img src="${url('images/icons/server.png')}" alt="Infinit Server">
            <p>Server</p>
            <strong class="note">(vm)</strong><br>
            <span class="storage">70 TB</span>
          </div>
          <div class="node">
            <img src="${url('images/icons/server.png')}" alt="Infinit Server">
            <p>Server</p>
            <strong class="note">(container)</strong><br>
            <span class="storage">60 TB</span>
          </div>
          <div class="node">
            <img src="${url('images/icons/server.png')}" alt="Infinit Server">
            <p>NAS</p>
            <strong class="note">(bare metal)</strong><br>
            <span class="storage">15 TB</span>
          </div>

          <hr class="spacer" />
        </div>

        <div class="functionalities">
          <ul>
            <li>
              <img src="${url('images/icons/fault-tolerance-small.png')}" alt="Data Placement">
              <strong>Data Placement</strong>
            </li>
            <li>
              <img src="${url('images/icons/redundancy-small.png')}" alt="Redundancy">
              <strong>Redundancy</strong>
            </li>
            <li>
              <img src="${url('images/icons/deduplication.png')}" alt="Deduplication">
              <strong>Deduplication</strong> <br>
            </li>
          </ul>
        </div>
        <div class="spacer"></div>
      </div>

      <div class="logics">
        <div class="block">
          <strong>Block</strong>
          <p><img src="${url('images/icons/compression.png')}" alt="Compression"> Compression</p>
          <p><img src="${url('images/icons/lock-small.png')}" alt="Encryption"> Encryption</p>
          <p>...</p>
        </div>

        <div class="object">
          <strong>Object</strong>
          <p><img src="${url('images/icons/block-size.png')}" alt="Block Size"> Block Size</p>
          <p><img src="${url('images/icons/lock-small.png')}" alt="Encryption"> Encryption</p>
          <p>...</p>
        </div>

        <div class="file">
          <strong>File</strong>
          <p><img src="${url('images/icons/versioning.png')}" alt="Versioning"> Versioning</p>
          <p><img src="${url('images/icons/compression.png')}" alt="Compression"> Compression</p>
          <p>...</p>
        </div>
        <div class="spacer"></div>
      </div>

      <div class="apis">
        <strong>NBD</strong>
        <strong>iSCSi</strong>
        <strong>FCoE</strong>
        <strong>Amazon S3</strong>
        <strong>GCS</strong>
        <strong>FUSE</strong>
        <strong>Dokan</strong>
        <strong>NFS</strong>
      </div>
    </div>
  </section>


  <div class="wrapper">
    <section class="features">

      <h2>A single storage platform for all your applications</h2>
      <p class="title">Infinit's decentralized storage platform transforms commodity servers into a flexible, scalable, secure and fault-tolerant storage infrastructure tailored to your applications.</p>

      <div>
        <img src="${url('images/icons/software.png')}">
        <h3>Software-Defined</h3>
        <p>Infinit can be deployed anywhere: bare metal, virtual machines and containers alike, running on legacy appliances, commodity hardware or in the cloud. As a result, an enterprise can expect its total cost of ownership (TCO) to be lowered by 70+%.</p>
      </div>

      <div>
        <img src="${url('images/icons/code.png')}">
        <h3>Programmatic</h3>
        <p>Through command-line tools and APIs, developers and operators can deploy, manage and monitor multiple concurrent storage logics, each with its own set of application-tailored policies: redundancy, encryption, compression etc.</p>
      </div>

      <div class="scalable">
        <img src="${url('images/icons/scalability.png')}">
        <h3>Scalable</h3>
        <p>Unlike manager/worker architectures, Infinit's decentralized model allows for storage infrastructure to quickly scale out to thousands of nodes and petabytes of data while doing away with potential bottlenecks, single points of failure and cascading effects.</p>
      </div>

      <div class="performance">
        <img src="${url('images/icons/healing.png')}">
        <h3>Self Healing</h3>
        <p>Infinit's fault tolerance mechanism is able to support failures of different natures, from crashes to more complex behaviors. Following such events, data items may be re-created and/or re-balanced in order to maintain the system in a healthy state at all times.</p>
      </div>

      <div class="multipurpose">
        <img src="${url('images/icons/multipurpose.png')}">
        <h3>Multi Purpose</h3>
        <p>Every Infinit storage logic can be accessed through several interfaces: iSCSI for block storage, Amazon S3 and OpenStack Swift for object storage, NFS for file storage and many more, the whole through a single distributed storage platform.</p>
      </div>

      <div class="modern">
        <img src="${url('images/icons/modern.png')}">
        <h3>Modern</h3>
        <p>Infinit comes naturally bundled with advanced functionalities such as encryption, distributed caching, multi-site redundancy, hyper-convergence and multi-tiering via multiple storage logics customizable through policies.</p>
      </div>
    </section>

    <section class="product">
      <h2>For developers and operators alike</h2>
      <p class="title">Infinit provides both command-line tools, APIs and integrations with your favorite orchestration tools.</p>

      <div class="developers">
        <strong>Developers</strong>
        <p>Easily deploy a customizable persistent storage backend to meet your applications requirements: I/O, scalability, security, latency etc.</p>
        <a class="button" href="${route('doc_get_started')}">Try it!</a><br>

        <img src="${url('images/terminal-home.png')}"><br>
      </div>

      <div class="operators">
        <strong>Operators</strong>
        <p>Manage and monitor your storage infrastructure deployments through datacenter control planes such as Docker UCP, Mesosphere etc.</p>
        <span>Coming soon!</span>

        <img src="${url('images/mesos.png')}">
      </div>
      <div class="spacer"><br></div>
    </section>

    <section class="press">
      <div class="logos">
        <img class="docker" src="${url('images/logos/docker.png')}" alt="docker logo">
        <img class="coreos" src="${url('images/logos/coreos.png')}" alt="coreos logo">
        <img class="kubernetes" src="${url('images/logos/kubernetes.png')}" alt="kubernetes logo">
        <img class="openstack" src="${url('images/logos/openstack.png')}" alt="openstack logo">
        <img class="mesosphere" src="${url('images/logos/mesosphere.png')}" alt="mesosphere logo">
      </div>
    </section>
  </div>


  <section class="docker">
    <div class="wrapper">
      <img src="${url('images/logos/docker-big.png')}" alt="docker logo">
      <h2>Persistent storage for Docker with Infinit</h2>
      <p>The Infinit platform comes with several Docker integrations, from a Docker volume plugin to more cluster-based integrations at the Docker Swarm level, allowing for container migration and stateful application scaling.</p>
      <a class="button white" href="${route('docker')}">Read more</a>
    </div>
  </section>

  <section class="encore">
    <h2>Ready to start?</h2>
    <p class="title">Infinit can be used for free through its open source community version while licenses provide enterprises with <a href="${route('pricing')}">advanced functionalities</a>.</p>

    <div class="tutorial">
      <strong>Tutorial</strong>
      <p>Follow the guide and deploy your first Infinit storage cluster in less than 10 minutes.</p>
      <a class="button" href="${route('doc_get_started')}">Get Started</a>

      <div class="faq">
        <strong>Have more questions?</strong>
        <p>Search an answer in our <a href="${route('faq')}">FAQ</a></p>
        <input type="text" id="search" placeholder="Search FAQ..." />
      </div>
    </div>

    <div class="contact">
      <strong>Contact Us</strong>
      <form action="${route('contact')}" id="contact_form" method="POST">

      <input type="text" name="first_name" placeholder="First Name*" required>
      <input type="text" name="last_name" placeholder="Last Name*" required>
      <input class="email" type="email" name="email" placeholder="Email*" required>
      <textarea name="message" required></textarea>

      <button type="submit" class="button btn-send-contact">Send</button>
    </form>
    </div>
  </section>


  <section class="news">
    <div class="blog">
      <strong class="title">Latest blogposts</strong>

      <div class="article">
        <h3><a href="http://blog.infinit.sh/a-new-look-for-a-new-life/" target="_blank">A new look for a new life</a></h3>
        <span class="date">— 13 March 2017</span>
        <p>A lot of changes have happened at Infinit over the last few months. The Docker acquisition, the focus on our Storage Platform, the closure of... <a href="http://blog.infinit.sh/a-new-look-for-a-new-life/">Read More</a></p>
      </div>

      <div class="article">
        <h3><a href="http://blog.infinit.sh/elle-our-c-core-library-is-now-open-source/" target="_blank">Elle, our C++ core library, is now open source</a></h3>
        <span class="date">— 20 February 2017</span>
        <p>We are proud to finally open source Elle, Infinit's C++ core library providing a C++ asynchronous framework, based on coroutines... <a href="http://blog.infinit.sh/elle-our-c-core-library-is-now-open-source/">Read More</a></p>
      </div>

      <div class="article">
        <h3><a href="http://blog.infinit.sh/hyperconvergent-and-hyperscalable-storage-for-docker-2/" target="_blank">How to choose between hyper-convergent and hyper-scalable storage architectures</a></h3>
        <span class="date">— 14 February 2017</span>
        <p>Before jumping directly into the heart of the article, let's clarify these two terms with their definition to bring some context... <a href="http://blog.infinit.sh/hyperconvergent-and-hyperscalable-storage-for-docker-2/">Read More</a></p>
      </div>
    </div>

    <div class="news">
      <strong class="title">Latest news</strong>

      <div class="tweet">
        <img src="${url('images/logos/twitter-infinit.png')}" alt="twitter infinit logo">
        <p><a href="https://twitter.com/jquintard/status/827434786306273280">@jquintard</a>: I will be presenting <a href="https://twitter.com/infinit">@Infinit</a>'s storage platform at <a href="https://twitter.com/DockerCon">@DockerCon</a> in April. Feel free to <a href="https://blog.docker.com/2017/02/dockercon-speakers-announced/">join us</a>! <span class="date">— 3 Feb 2017</span></p>
      </div>

      <div class="tweet">
        <img src="${url('images/logos/docker-vector.png')}" alt="twitter docker logo">
        <p><a href="https://twitter.com/docker/status/806146369983578112">@docker</a>: #Docker Acquires Distributed Storage Startup <a href="https://twitter.com/infinit">@Infinit</a> to Provide Support for Stateful Containerized Applications: <a href="https://blog.docker.com/2016/12/docker-acquires-infinit/">blog.docker.com/2016...</a> <span class="date">— 6 Dec 2016</span></p>
      </div>

      <div class="tweet">
        <img src="${url('images/logos/twitter-infinit.png')}" alt="twitter infinit logo">
        <p><a href="https://twitter.com/infinit/status/806153366573318145">@infinit_sh</a>: We’re joining @docker! 🐳 🎉 <a href="http://blog.infinit.sh/infinit-joins-docker/">blog.infinit.sh/infinit-joins...</a> <span class="date">— 6 Dec 2016</span></p>
      </div>
    </div>
  </section>
  <div class="spacer"><br><br><br><br><br><br></div>

</%block>
