<%inherit file="/base.html"/>

<%block name="content">

  <section class="doc">
    <h1>Terms and conditions</h1>

    <dl class="tos">
      <div><dt id="intro">
          By using Infinit you agree to all the terms outlined on this page.  And you must be over 13, kiddo.
      </dt>
      <dd>
          <p>“Infinit” provides you with a platform to create storage infrastructure, store and access files. This page states the Terms of Service ("Terms") under which you may use the Infinit software and website ("Services"). These Terms include the Infinit Privacy Policy, which is incorporated into these Terms by reference. These Terms apply to the user (“User”) of the Services.</p>

          <p>By using the Services you agree to be bound by these Terms. If you do not accept the Terms, do not use Infinit and its Services. Users who violate these Terms may have their acceptance of Infinit’s Services suspended or terminated. Infinit may revise these Terms at any time by updating this page. You should visit this page periodically to review the most current Terms because they are binding on you. If you have a separate service agreement with Infinit, that agreement will take precedence in the event of any conflict with these Terms.</p>

          <p>You must be 13 years of age or older to visit or use Infinit Services.
          </p>
      </dd></div>

      <div><dt id="registration">
        <h2>Registration</h2>
        We want to ensure that real people are represented by users. We use email verification in order to ensure the highest quality in every aspect of our Service.
      </dt>
      <dd>
        <p>
          Following your registration, on the website for instance, you may be asked for certain information, such as your email address. You agree to provide lawful, accurate, current, and complete information; and, you agree to keep it up to date. Infinit reserves the right to suspend or terminate your access to its Services if it believes the information you provided is unlawful, inaccurate, not current, or incomplete.
        </p>
      </dd></div>

      <div><dt id="responsibility">
        <h2>Responsibility</h2>
        All files stored and accessed through Infinit are encrypted end-to-end, but we cannot ensure security if another, potentially malicious user, attempts to use your account.
      </dt>
      <dd>
        <p>
          You acknowledge that you are responsible for your Infinit account. If you share your account with other users, you remain responsible for how your account is used and what files are stored and accessed.
        </p>
        <p>
          Infinit does not endeavor to provide security when using its free Services. Infinit may make a best effort to provide safety and security for files stored and accessed by using encryption and other means. However, because there may be factors that Infinit does not control, Infinit is not ultimately responsible for the safety or security of your files.
        </p>
      </dd></div>

      <div><dt id="intellectual-property">
        <h2>Intellectual property rights</h2>
        Content that is protected by intellectual property law must not be shared without permission from the rights holder(s).
      </dt>
      <dd>
        <p>
          Infinit respects the intellectual property of others, and we ask our users to do the same. The unauthorized sharing, distribution, or transfer of copyrighted works constitutes infringement of the copyright owner's rights. As a condition to your use of the Services, you agree not to use the Services to infringe on the intellectual property rights of others in any way. Infinit reserves the right to terminate the access to the Services of any users who are repeat infringers of the intellectual property rights of others. Infinit reserves the right, in its sole discretion, to take these actions to limit access to the Services whether or not there is any repeat infringement, with or without notice, and without any liability to the User who is terminated or to the User whose access is blocked.
        </p>
      </dd></div>

      <div><dt id="content">
        <h2>Content Ownership</h2>
        The content you store and access through the Service belongs to you.
      </dt>
      <dd>
        <p>
          We claim no intellectual property rights over the material you provide to the Service. Your profile and materials uploaded remain yours. However, if you set your content to be viewed publicly, you agree to allow others to view your content.
        </p>
        <p>Because content is encrypted with a key known only to the authorized users, we cannot pre-screen or remove content that may not comply with the Service’s terms and conditions. We however have the right (but not the obligation) in our sole discretion to cancel your account should this happen.
        </p>
      </dd></div>

      <div><dt id="branding">
        <h2>Branding</h2>
        If you’d like to use our logo or branding materials, feel free to get in touch with us.
      </dt>
      <dd>
        <p>
          The Services may contain links to third party websites or services. You acknowledge that Infinit is not responsible for the content, product, or services available from these third parties. Links to third party websites do not imply any endorsement by Infinit of such websites or the content, products, or services available from them.
        </p>
        <p>
        Infinit, the Infinit logo, and all other Infinit trademarks, service marks, product names, and trade names appearing on the Services are owned by Infinit. You may not use or display any trademark, service mark, product name, trade name, or logo appearing on the Service's without prior written consent from Infinit.
        </p>
      </dd></div>

      <div><dt id="disclaimer">
        <h2>Disclaimer</h2>
        We do our best to make Infinit work properly in every instance, but some bugs or errors may be unpredictable and may impact the use of your device.
      </dt>
      <dd>
        <p>
          The services and Infinit applications are provided "as-is," without warranty of any kind, either express or implied. Without limiting the foregoing, Infinit explicitly disclaims any warranties of merchantability, fitness for a particular purpose, and non-infringement. Infinit makes no warranty that the services or applications will meet your requirements, will be available on an uninterrupted, secure, or error-free basis, or will operate at any particular speed. your use of the services and applications is at your own risk. You acknowledge and agree that Infinit will not be responsible for any damages to your computer system or the computer system of any third party resulting from use of the services or applications. Some states or jurisdictions do not allow the exclusion of certain warranties, so some of the above exclusions may not apply to you.
        </p>
      </dd></div>

      <div><dt id="disclosure">
        <h2>Information sharing and disclosure</h2>
        We’ll never sell or give your data or any personal information to a third party.
      </dt>
      <dd>
        <p>
          We may share aggregated data about our services, such as the amount of data the users store or the number of Infinit users. This information will not personally identify you in any way.
        </p>
        <p>
          We use third parties to help us provide, analyze, and improve our Service. These third parties have access to your information only to perform services on our behalf. We currently use Google Analytics to help us understand how visitors use our site and our application. We disclose information if legally required, or to: (a) comply with legal process; (b) protect our rights or property; (c) prevent a crime or protect national security; or (d) protect the personal safety of users or the public. If we are involved in a merger, acquisition, or sale of all or a portion of our assets, your information may be transferred as part of that transaction, but we will notify you (for example, via email and/or a prominent notice on our website) of any change in control or use of your personal information.
        </p>
      </dd></div>

      <div><dt id="changes">
        <h2>Changes to our privacy policy</h2>
        We will inform you about any modifications regarding these terms.
      </dt>
      <dd>
        <p>
          We may update this privacy policy from time to time. If we decide to materially change this policy, we will provide you with notice on our site and by email, if and where required.
        </p>
      </dd></div>

      <div><dt id="personal">
        <h2>Commercial use</h2>
        Infinit, in its free version, is for personal use only. Businesses can contact us for a commercial license.
      </dt>
      <dd>
        <p>
          Infinit should be used solely for personal use. If you would like to use Infinit for your business, please contact us at <a href="mailto:sales@infinit.io">sales@infinit.io</a> to get a customized offer especially adapted to your needs. </p>
      </dd></div>


      <div><dt id="payments">
        <h2>Payment, refunds, upgrading and downgrading</h2>
        Payments are monthly and annual and in advanced. Be careful when downgrading as you may lose data that cannot be supported in the new plan.
      </dt>
      <dd>
        <p>
          All paid plans must enter a valid credit card. For any upgrade or downgrade in plan level, your credit card will automatically be charged the new rate associated.
        </p>
        <p>The Service is billed in advanced on a monthly or annual basis and is non-refundable. There will be no refunds or credits for partial months or years of service.</p>
        <p>All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties.</p>
        <p>Downgrading your plan level may cause the loss of content, features, or capacity. Infinit cannot kept liable for any such loss.</p>
      </dd></div>



      <div><dt id="prices">
        <h2>Modifications to the service and prices</h2>
        The Service may change over time, along with the prices associated with the plans.
      </dt>
      <dd>
        <p>
          We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.
        </p>
        <p>Our prices, including but not limited to monthly subscriptions plan fees, are subject to change. We shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the service.</p>
      </dd></div>


      <div><dt id="indemnity">
        <h2>Indemnity</h2>
        Infinit cannot be held responsible for any legal claims against our company, service or team arising from the use of the application.
      </dt>
      <dd>
        <p>
          You will defend, indemnify, and hold harmless Infinit, its officers, directors, affiliates, employees and agents, from and against any claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, arising out of, or in any way connected with, your access to or use of the Services, any Infinit application, or your violation of these Terms including, without limitation, third party claims that files you have transferred infringe or misappropriate the intellectual property rights, privacy rights, publicity rights, or moral rights of a third party.
        </p>
      </dd></div>

      <div><dt id="liability">
        <h2>Limitation of liability</h2>
        Infinit cannot be held responsible for any negative consequences resulting from the use or lack of usability of the application.
      </dt>
      <dd>
        <p>
          Infinit will not be liable to you or to any third party for any incidental, special, punitive, or consequential damages (including loss of use, data, business or profits, and damage to hardware or other software) arising out of or in connection with these terms of service, the use or performance of any Infinit service or application, or from the use of, or inability to use the services or any user files sent through the services whether based on warranty, contract, tort (including negligence), strict liability or any other legal theory, and whether or not Infinit has been informed of the possibility of such damages, even if any limited remedy set forth herein is found to have failed its essential purpose.</p>
          <p>
          The limitations of damages set forth above are fundamental elements of the basis of the bargain between Infinit and you. Some jurisdictions do not allow the exclusion or limitation of liability for consequential or incidental damages, so the above limitation may not apply to you.
        </p>
      </dd></div>

      <div><dt id="software">
        <h2>Software license</h2>
        Infinit International Inc. owns the intellectual property behind Infinit and its services.
      </dt>
      <dd>
        <p>
          Subject to your compliance with these Terms, Infinit grants you a limited, non-exclusive, non-transferable license to download and install a copy of the Infinit application onto devices or computers that you own or control. For users of the free Services, you agree to use the Services solely for your own personal use, not commercial use. Except as expressly specified in these Terms, you may not (i) copy, modify, or distribute any Infinit application for any purpose; (ii) transfer, sublicense, lease, lend, rent, or otherwise distribute any Infinit application to any third party; (iii) decompile, reverse-engineer, disassemble, or create derivative works of any Infinit application; (iv) make the functionality of an Infinit application available to multiple users through any means; or (v) use any Infinit application in any unlawful manner, for any unlawful purpose, or in any manner inconsistent with these Terms.</p>

          <p>
          Infinit is not obligated to maintain or support any Infinit application or to provide you with updates, upgrades, or services related thereto. You acknowledge that Infinit may in its sole discretion update or upgrade Infinit applications and may automatically update your version of the Infinit application. You consent to automatic updates and agree that these Terms will apply to such updates. The license to each Infinit application granted under these Terms will remain in effect for 75 years unless terminated in accordance with these Terms. You may terminate the license at any time by destroying all copies of the Infinit application in your possession or control. The license will automatically terminate without notice from Infinit if you breach these Terms. Breach of any portion of these Terms constitutes a breach of the Terms in their entirety.
        </p>
      </dd></div>

      <div><dt id="prohibited">
        <h2>Prohibited activities</h2>
        By using Infinit, you must respect the laws governing our service, and more generally the basic human rights of others.
      </dt>
      <dd>
        <p>
          All users of the Services agree not to:</p>
          <ul>
            <li>transmit, post, or destroy material, in violation of any applicable law or regulation, including but not limited to laws or regulations governing the collection, processing, or transfer of information;</li>
            <li>take any action that imposes an unreasonable or disproportionately large load on Infinit's electronic infrastructure;</li>
            <li>use any data mining, robots or similar data gathering or extraction methods;</li>
            <li>violate or attempt to violate the security of the Services including attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization;</li>
            <li>forge any TCP/IP packet header or any part of the header information in any e-mail;</li>
            <li>reverse engineer or decompile any parts of the Services;</li>
            <li>share or transmit any material that promotes or endorses false or misleading information or illegal activities, or endorses or provides instructional information about illegal activities or other activities prohibited by these Terms, such as making or buying illegal weapons, violating someone's privacy, providing or creating computer viruses or pirating media;</li>
            <li>access data not intended for you or logging into a server or account which you are not authorized to access;</li>
            <li>harass, incite harassment or advocate harassment of any group, company, or individual;</li>
            <li>attempt to interfere with service to any user, host or network, including, without limitation, by sending a virus, overloading, flooding, spamming, mailbombing or crashing the Services; or</li>
            <li>use the Services for any unlawful purpose or any illegal activity.</li>
          </ul><br />
          <p>Violations of system or network security may result in civil and/or criminal liability. Infinit will investigate occurrences which may involve such violations, and Infinit may involve or cooperate with law enforcement authorities in prosecuting users who are involved in such violations.
        </p>
      </dd></div>

      <div><dt id="privacy">
        <h2>Privacy policy</h2>
        We collect some data to improve our service, but we’ll never sell it or give it to a third party.
      </dt>
      <dd>
        <p>
          Infinit provides a private file storage service. This policy sets forth the ways in which Infinit collects, uses, and shares information collected on the Infinit website and through Infinit’s services. By using Infinit, you consent to this privacy policy.
          We may use the information we collect about you to:
          <ul>
            <li>provide and improve our service</li>
            <li>identify and diagnose service problems</li>
            <li>understand your needs and interests and how you use the service</li>
            <li>personalize and improve your experience</li>
            <li>provide or offer software updates and product announcements</li>
          </ul>

        </p>
      </dd></div>

      <div><dt id="informations">
        <h2>Information we collect</h2>
        We care about privacy, so we store as little as is needed to make our service better.
      </dt>
      <dd>
        <p>
          When you visit the Infinit website, we collect some information in order to improve our service. This includes your IP address, the browser and operating system you are using, and information stored in the cookies of your browser. If you choose to sign up to our mailing list, we store your email address but we will not sell it to any third parties. When you use Infinit to store and access files, at no point during the process are we able to access the contents of the files.
        </p>
      </dd></div>

      <div><dt id="encrypting">
        <h2>Security and encryption</h2>
        Privacy is at the heart of Infinit. All your files are stored and transmitted in an encrypted form that only the involved parties can decrypt, in most cases, only you.
      </dt>
      <dd>
        <p>
          Our service is designed to encrypt files locally on the user’s machine prior to storingthem, while also protecting your information in transit. Infinit does not scan the contents of files to ensure they are free of viruses or malware and cannot be held liable for whom you choose to share those files with. You are responsible for whom you choose to share files with, and what files you share.
        </p>
      </dd></div>

      <div>
      <dd>
        <p>These Terms are effective September 1, 2015.</p>
      </dd>
      </div>
    </dl>
  </section>

</%block>
