<%inherit file="/base.html"/>

<%block name="content">

  <section class="presentation">
  	<img src="${url('images/logos/memo.png')}" alt="memo key value store logo">
  	<h1>A modern key-value store built with replication and security in mind</h1>
  	<div class="star">
      <a href="https://github.com/infinit" target="_blank"><img src="${url('images/logos/github.png')}" alt="github logo"> Github</a>
      <span>&nbsp;</span>
    </div>
    <a class="button" href="${route('doc_kv_overview')}">Documentation</a>
  </section>

  <section class="features">
  	<div>
	  	<img src="${url('images/icons/content-addressable.png')}" alt="content addressable">
	  	<h2>Content Addressable</h2>
	  	<p>Information that can be retrieved based on its content, not its storage location.</p>
  	</div>

  	<div>
	  	<img src="${url('images/icons/decentralized.png')}" alt="decentralized architecture">
	  	<h2>Decentralized</h2>
	  	<p>Our decentralized model (i.e peer-to-peer) makes every node equipotent.</p>
  	</div>

  	<div>
	  	<img src="${url('images/icons/policy-based.png')}" alt="policy based">
	  	<h2>Policy Based</h2>
	  	<p>Customize it with policies such as redundancy, encryption, compression, versioning, etc.</p>
  	</div>

  	<div>
	  	<img src="${url('images/icons/strongly-consistent.png')}">
	  	<h2>Strongly Consistent</h2>
	  	<p>There are as many quorums, as there are blocks (a.k.a values) in the system. </p>
  	</div>
  </section>

  <section class="architecture">
  	<h2>A truly decentralized architecture</h2>
  	<p class="subtitle">Because every app is different, Infinit’s architecture is ready to be used with different intensive flows.</p>

  	<div class="schemas">
  	  <div class="memo">
  	    <img src="${url('images/schema-memo-architecture.png')}" alt="Memo key value store architecture">
  	  </div>
      <div class="separator"></div>
      <div class="etcd">
        <img src="${url('images/schema-etcd-architecture.png')}" alt="Memo key value store architecture">
      </div>
  	</div>

    <div class="comparison">
      <div class="memo">
        <p>Adapted to scaling since nodes can join and leave without a need to keep track of them through a central directory.</p>
      </div>
      <div>
        <img src="${url('images/icons/scalability.png')}" alt="scalability"><br>
        <strong>Scalability</strong>
      </div>
      <div class="etcd"><p>Limited by the scalability of leader nodes.</p></div>
    </div>

    <div class="comparison">
      <div class="memo">
        <p>No authoritative node nor more privileged nodes in a decentralized architecture.</p>
      </div>
      <div>
        <img src="${url('images/icons/security.png')}" alt="security"><br>
        <strong>Security</strong>
      </div>
      <div class="etcd"><p>Leaders are ideal targets.</p></div>
    </div>

    <div class="comparison consistency">
      <div class="memo">
        <p>Parallel requests are handled by disjoint quorums, leading to better performance, security and fault tolerance. <a href="${route('doc_kv_overview')}"></a></p>
      </div>
      <div>
        <img src="${url('images/icons/consistency.png')}" alt="consistency"><br>
        <strong>Consistency</strong>
      </div>
      <div class="etcd"><p>Rely on the leaders to maintain consistency whenever an update is requested.</p></div>
    </div>
  </section>

  <section class="example">
    <h2>Example: writer and reader</h2>
    <p class="subtitle">This example shows you how store and retrieve images via a gRPC interface</p>
    <a class="button" href="${route('doc_get_started')}">Get Started</a>
    <a class="button white" href="${route('doc_reference')}">Documentation</a>

    <pre>
        <code>endpoint = sys.argv[1]
address = sys.argv[2]

kv = connect(endpoint)

while True:
images = requests.get('https://api.imgur.com/3/gallery/random/random/0.json')
for image in images:
  content = requests.get(image['link'], headers = headers).content
  add(kv, address,
    {
      'img': content,
      'host': socket.gethostname(),
    })
  time.sleep(random.random())
        </code>
    </pre>
  </section>

</%block>
