<%inherit file="/base.html"/>

<%block name="content">

    <section class="projects wrapper">
      <h1>Open Source Projects</h1>
      <p class="subtitle">From the most basic development libraries up to the storage platform, Infinit is dedicated to giving back to the community.</p>

      % for i, project in enumerate(projects):
        <div ${'data-gh-project="' + project['repo'] + '"' if project['repo'] else ''} class="project ${project['stage'].lower()} ${'pinned' if project['pinned'] else ''}">
          <div class="title">
            % if project['logo']:
              <img src="${url('images/logos/' + project['logo'])}">
            % endif

            % if project['repo']:
              <h3><a href="https://github.com/${project['repo']}" target="_blank">${project['name']}</a></h3>
              <div class="star">
                <a href="https://github.com/${project['repo']}" target="_blank"><svg aria-hidden="true" class="octicon octicon-star" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path></svg> Star</a>
                <span>&nbsp;</span>
              </div>
            % else:
              <h3>${project['name']}</h3>
            % endif
          </div>
          <p class="tagline">${project['title']}</p>

          % if project['stage'].lower() == 'closed':
            <p class="description">${project['description']}</p>
          % else:
            <p class="date">Last commit: <span></span></p>
          % endif

          <div class="stage">

            <!-- REPO STATS -->
            % if project['repo']:
              <div class="stats">
                <div class="stars"><svg aria-hidden="true" class="octicon octicon-star" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path></svg> <span></span> stars</div>
                <div class="forks"><svg aria-hidden="true" class="octicon octicon-repo-forked" height="16" version="1.1" viewBox="0 0 10 16" width="10"><path fill-rule="evenodd" d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path></svg><span></span> forks</div>
                <div class="issues"><svg aria-hidden="true" class="octicon octicon-issue-opened" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path></svg><span></span> issues</div>
              </div>
            % endif

            <!-- REPO CURRENT DEV -->
            % if project['state']:
              <div class="actions">
                <p>
                  % for i, point in enumerate(project['state']):
                    ${point}
                    % if i != len(project['state']) - 1:
                      •
                    % endif
                  % endfor
                </p>
              </div>
            % endif
            

            <!-- REPO STAGE -->
            % if project['stage']:
              <div class="progress">
                <div class="status">
                  <strong>${project['stage']}</strong>
                </div>

                % if project['stage'] == 'closed':
                  <progress value="0.15"></progress>
                % elif project['stage'] == 'access':
                  <progress value="0.5"></progress>
                % elif project['stage'] == 'develop':
                  <progress value="0.75"></progress>
                % elif project['stage'] == 'contribute':
                  <progress value="1"></progress>
                % endif

                <a href="#methodology">?</a>
              </div>
            % endif

          </div>
        </div>
      % endfor
    </section>

    <section class="methodology wrapper">
      <h2 id="methodology">Our Methodology</h2>
      <p class="subtitle">Access the sources → Develop on top → Contribute to it</p>
      <p class="explain">We will be open-sourcing each component over time to ensure the quality of the source and its documentation so that it is accessible to the community. Subscribe to our <a href="http://infinit.us2.list-manage.com/subscribe?u=29987e577ffc85d3a773ae9f0&id=b537e019ee" target="_blank">mailing-list</a> to get news.</p>

      <div class="progress">
        <div class="closed">
          <span></span>
          <strong>Closed</strong>
          <p>We’re working on getting the code ready to be open-sourced.</p>
        </div>
        <div class="access">
          <span></span>
          <strong>Access</strong>
          <p>Code builds like a charm, tests pass on the most common architectures. A README is provided describing basic usage with code snippets.</p>
        </div>
        <div class="develop">
          <span></span>
          <strong>Develop</strong>
          <p>All the tools (documentation, examples, comments, ...) are available for people to develop their own projects on top of our software.</p>
        </div>
        <div class="contribute">
          <span></span>
          <strong>Contribute</strong>
          <p>Contributions are welcomed through pull requests. We handle comments and bug reports.</p>
        </div>
      </div>

    </section>


    <section class="licenses">
      <h2>Licenses</h2>
      <p class="subtitle">Infinit would not have been made possible without the open source<br>community and libraries it has provided the world.</p>

      <div class="libraries wrapper">
        <a class="library" href="http://www.boost.org/" target="_blank"><strong>Boost</strong><span>MIT Style</span></a>

        <a class="library" href="http://bottlepy.org/" target="_blank"><strong>Bottle</strong><span>MIT Style</span></a>

        <a class="library" href="https://chromium.googlesource.com/breakpad/breakpad/"><strong>Breakpad</strong><span>BSD Style</span></a>

        <a class="library" href="https://github.com/djc/couchdb-python" target="_blank"><strong>CouchDB Python</strong><span>BSD</span></a>

        <a class="library" href="http://curl.haxx.se/" target="_blank"><strong>cURL</strong><span>MIT</span></a>

        <a class="library" href="https://osxfuse.github.io/" target="_blank"><strong>FUSE for macOS</strong><span>BSD Style</span></a>

        <a class="library" href="http://www.grpc.io/" target="_blank"><strong>gRPC</strong><span>BSD</span></a>

        <a class="library" href="https://github.com/jcgregorio/httplib2" target="_blank"><strong>httplib2</strong><span>MIT</span></a>

        <a class="library" href="https://github.com/sirikata/json-spirit" target="_blank"><strong>json-spirit</strong><span>MIT</span></a>

        <a class="library" href="http://www.libarchive.org/" target="_blank"><strong>libarchive</strong><span>BSD Style</span></a>

        <a class="library" href="http://libcxx.llvm.org/" target="_blank"><strong>libc++</strong><span>MIT / BSD Style</span></a>

        <a class="library" href="https://github.com/stevedekorte/coroutine" target="_blank"><strong>libcoroutine</strong><span>BSD Style</span></a>

        <a class="library" href="https://github.com/dokan-dev/dokany" target="_blank"><strong>libdokan</strong><span>LGPL</span></a>

         <a class="library" href="http://fuse.sourceforge.net/" target="_blank"><strong>libfuse</strong><span>LGPL</span></a>

        <a class="library" href="https://github.com/bittorrent/libutp" target="_blank"><strong>libutp</strong><span>MIT</span></a>

        <a class="library" href="http://miniupnp.free.fr/minissdpd.html" target="_blank"><strong>minissdpd</strong><span>BSD Style</span></a>

        <a class="library" href="http://miniupnp.free.fr" target="_blank"><strong>miniupnpc &amp; miniupnpd</strong><span>BSD Style</span></a>

        <a class="library" href="http://nwjs.io/" target="_blank"><strong>NWjs</strong><span>MIT</span></a>

        <a class="library" href="https://github.com/google/oauth2client" target="_blank"><strong>oauth2client</strong><span>Apache Style</span></a>

        <a class="library" href="http://www.openldap.org" target="_blank"><strong>OpenLDAP</strong><span>BSD Style</span></a>

        <a class="library" href="https://www.openssl.org/" target="_blank"><strong>OpenSSL</strong><span>Apache Style</span></a>

        <a class="library" href="https://github.com/python-pillow/Pillow" target="_blank"><strong>PIL</strong><span>MIT</span></a>

        <a class="library" href="https://prometheus.io" target="_blank"><strong>Prometheus</strong><span>Apache Style</span></a>

        <a class="library" href="http://www.pycrypto.org/" target="_blank"><strong>pycrypto</strong><span>GNU like</span></a>

        <a class="library" href="https://github.com/sendwithus/sendwithus_python" target="_blank"><strong>sendwithus python-client</strong><span>Apache</span></a>
        <a class="library" href="http://udt.sourceforge.net/" target="_blank"><strong>UDT</strong><span>BSD</span></a>

        <a class="library" href="http://www.zlib.net/" target="_blank"><strong>zlib</strong><span>MIT</span></a>

      </div>
    </section>
  </section>

</%block>
