<%inherit file="/base.html"/>

<%block name="content">

  <nav id="sidebar">
    <div id="menu-anchor"></div>

    <ul class="menu">
      <li class="notice">
        Want to contribute to our open source projects?<br><br>
        Please come talk to us here: <br>
        <a class="icon-email" href="mailto:contact@infinit.sh">contact@infinit.sh</a><br>
        <a class="icon-twitter" href="https://twitter.com/infinit_sh">Twitter</a><br>
        <a class="icon-facebook" href="https://www.facebook.com/groups/1518536058464674/">Facebook Group</a><br>
        <a class="icon-reddit" href="https://reddit.com/r/infinit">Reddit</a><br>
        <a class="icon-slack" href="#slack">Slack Community</a><br>
        <a class="icon-infinit" href="http://webchat.freenode.net/?channels=infinit">IRC</a><br>
      </li>
    </ul>
  </nav>

  <section class="doc">
    <h1>Open Source</h1>
    <p class="note">Join the Infinit open source community to contribute to the future of file storage.</p>
    <p>Infinit is composed of several software layers from a C++ low-level asynchronous framework called ‘reactor’ to large-scale peer-to-peer networking and storage layers up to the file system.</p>

    <h2>Projects</h2>

    <p>We will be open-sourcing our projects over time to make sure every project is in a good state for the community to take over them. Feel free to come back or subscribe to our <a href="http://infinit.us2.list-manage.com/subscribe?u=29987e577ffc85d3a773ae9f0&id=b537e019ee" target="_blank">mailing-list</a> to get notified.</p>

    <div class="projects">

      <div class="card soon">
        <div class="github-card">
          <img src="${url('images/logos/infinit.png')}">
          <strong>infinit</strong>
          <a target="_blank" href="https://github.com/infinit/infinit"><span class="star">Star</span></a>
          <span>coming soon</span>
          <p>The Infinit peer-to-peer file system.</p>
        </div>
      </div>

      <div class="card soon">
        <div class="github-card">
          <img src="${url('images/logos/infinit.png')}">
          <strong>elle</strong>
          <a target="_blank" href="https://github.com/infinit/elle"><span class="star">Star</span></a>
          <span>coming soon</span>
          <p>Utility toolkit including cryptography, serialization, coroutines scheduler, AWC/GCS/Dropbox, API bindings...</p>
        </div>
      </div>

      <div class="card">
        <div class="github-card" data-user="infinit" data-width="350" data-repo="drake"></div>
      </div>

      <div class="card">
        <div class="github-card" data-user="infinit" data-width="350" data-repo="dopenssl"></div>
      </div>
    </div>


    <h2>Licenses</h2>

    <p>Infinit is proud to contribute to the open source ecosystem as nothing would have been made possible without the open source tools it relied upon for years.</p>

    <table>
      <tr>
        <th>Name</th>
        <th>License</th>
      </tr>
      <tr>
        <td><a href="http://www.boost.org/" target="_blank">Boost</a></td>
        <td>MIT Style</td>
      </tr>
      <tr>
        <td><a href="http://curl.haxx.se/" target="_blank">cURL</a></td>
        <td>MIT</td>
      </tr>
      <tr>
        <td><a href="http://fuse.sourceforge.net/" target="_blank">FUSE</a></td>
        <td>GNU GPL</td>
      </tr>
      <tr>
        <td><a href="https://github.com/sirikata/json-spirit" target="_blank">json-spirit</a></td>
        <td>MIT</td>
      </tr>
      <tr>
        <td><a href="http://www.libarchive.org/" target="_blank">libarchive</a></td>
        <td>BSD Style</td>
      </tr>
      <tr>
        <td><a href="http://libcxx.llvm.org/" target="_blank">libc++</a></td>
        <td>MIT / BSD Style</td>
      </tr>
      <tr>
        <td><a href="https://github.com/stevedekorte/coroutine" target="_blank">libcoroutine</a></td>
        <td>BSD Style</td>
      </tr>
      <tr>
        <td><a href="https://github.com/bittorrent/libutp" target="_blank">libutp</a></td>
        <td>MIT</td>
      </tr>
      <tr>
        <td><a href="http://nwjs.io/" target="_blank">NWjs</a></td>
        <td>MIT</td>
      </tr>
      <tr>
        <td><a href="https://www.openssl.org/" target="_blank">OpenSSL</a></td>
        <td>Apache-style</td>
      </tr>
      <tr>
        <td><a href="https://osxfuse.github.io/" target="_blank">OSXFuse</a></td>
        <td>BSD Style</td>
      </tr>
      <tr>
        <td><a href="http://www.zlib.net/" target="_blank">zlib</a></td>
        <td>MIT</td>
      </tr>

    </table>
  </section>

</%block>