<%inherit file="/base.html"/>

<%block name="content">

  <nav id="sidebar">
    <div id="menu-anchor"></div>

    <ul class="menu">
      <li>
        <a href="${route('press')}">Press Releases</a>

        <ul>
          <li class="active"><a href="${route('press')}">February 2016</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <section class="doc">
    <h1>Press</h1>

    <p>The Infinit technology allows for the creation of heterogeneous storage infrastructure by aggregating various storage resources and unifying them into a UNIX-like Infinit file system.</p>
  <section>

</%block>
