<%inherit file="/base.html"/>

<%block name="content">

  <section class="doc">
    <h1>Pricing</h1>

    <div class="plan">
      <h2>
        <img src="${url('images/icons/startup.png')}" alt="Startup">
        Startup
      </h2>
      <p>Up to <strong>20</strong> users</p>
      <p><strong>1</strong> integration</p>
      <p>Public, private or hybrid infrastructure</p>
      <p>Unlimited volumes</p>
      <p>
        Bank-level encryption
        <span>(in-transit and at-rest)</span>
      </p>
      <p>Read/write access control</p>
      <p>Unlimited storage capacity *</p>
      <p>Unlimited number of devices per user</p>
      <p>Unlimited file size</p>
      <p>
        Free desktop apps
        <span>(Windows, Mac, Linux)</span>
      </p>
      <p>
        Free mobile apps #
        <span>(iOS, Android)</span>
      </p>
    </div>

    <div class="plan">
      <h2>
        <img src="${url('images/icons/business.png')}" alt="Business">
        Business
      </h2>
      <p>Up to <strong>100</strong> users</p>
      <p><strong>3</strong> integrations</p>
      <p>Public, private or hybrid infrastructure</p>
      <p>Unlimited volumes</p>
      <p>
        Bank-level encryption
        <span>(in-transit and at-rest)</span>
      </p>
      <p>Read/write access control</p>
      <p>Unlimited storage capacity *</p>
      <p>Unlimited number of devices per user</p>
      <p>Unlimited file size</p>
      <p>
        Free desktop apps
        <span>(Windows, Mac, Linux)</span>
      </p>
      <p>
        Free mobile apps #
        <span>(iOS, Android)</span>
      </p>
      <p>Default access permissions</p>
      <p>Versioning</p>
      <p>Groups</p>
      <p>Premium Support</p>
    </div>

    <div class="plan">
      <h2>
        <img src="${url('images/icons/enterprise.png')}" alt="Enterprise">
        Enterprise
      </h2>
      <p>Up to <strong>100</strong> users</p>
      <p><strong>Unlimited</strong> integrations</p>
      <p>Public, private or hybrid infrastructure</p>
      <p>Unlimited volumes</p>
      <p>
        <strong>Military</strong>-level encryption
        <span>(in-transit and at-rest)</span>
      </p>
      <p>Read/write access control</p>
      <p>Unlimited storage capacity *</p>
      <p>Unlimited number of devices per user</p>
      <p>Unlimited file size</p>
      <p>
        Free desktop apps
        <span>(Windows, Mac, Linux)</span>
      </p>
      <p>
        Free mobile apps #
        <span>(iOS, Android)</span>
      </p>
      <p>Default access permissions</p>
      <p>Versioning</p>
      <p>Groups</p>
      <p>Priority Support</p>
      <p>Monitoring</p>
      <p>Analytics</p>
      <p>On-premise setup</p>
      <p>LDAP/AD integration</p>
      <p>Device management</p>
      <p>Dynamic redundancy control</p>
      <p>Storage migration</p>
      <p>NFS/Samba interface</p>
    </div>

  </section>


  <section class="estimation doc">
    <h2>Estimate and compare</h2>
    <p class="subtitle">Choose the number of users and the storage capacity you need.</p>

    <label for="usersInput" id="usersLabel"><span>1</span> users</label>
    <input type="text" name="users" id="usersInput" data-slider="true" data-slider-range="1, 100" data-slider-step="1">

    <label for="capacityInput" id="capacityLabel"><span>100</span> GB</label>
    <input type="text" name="capacity" id="capacityInput" data-slider="true" data-slider-range="100, 20000" data-slider-step="100">

    <table>
      <tr>
        <th>Infinit</th>
        <th>Dropbox</th>
        <th>Box</th>
        <th>Egnyte</th>
      </tr>
      <tr class="users">
        <td class="infinit"><span>1</span> users</td>
        <td class="dropbox"><span>1</span> users</td>
        <td class="box"><span>1</span> users</td>
        <td class="egnyte"><span>1</span> users</td>
      </tr>
      <tr class="capacity">
        <td class="infinit"><span>100</span> GB</td>
        <td><span data-max="1000">100</span> GB</td>
        <td><span>100</span> GB</td>
        <td><span data-max="10000">100</span> GB</td>
      </tr>
      <tr>
        <td>No file size limit</td>
        <td>10 GB file size limit</td>
        <td>5 GB file size limit</td>
        <td>10 GB file size limit</td>
      </tr>
      <tr>
        <td>Public/Private/Hybrid Cloud</td>
        <td>Public Cloud</td>
        <td>Public Cloud</td>
        <td>Public/Private Cloud</td>
      </tr>
      <tr>
        <td>In-transit and at-rest encryption</td>
        <td>In-transit encryption</td>
        <td>In-transit encryption</td>
        <td>In-transit and at-rest encryption</td>
      </tr>
      <tr class="price">
        <td class="infinit">$<span data-price="9"></span> / year</td>
        <td class="dropbox">$<span data-price="12"></span> / year</td>
        <td class="box">$<span data-price="12"></span> / year</td>
        <td class="egnyte">$<span data-price="15"></span> / year</td>
      </tr>
    </table>
  </section>

</%block>