<%inherit file="/base.html"/>

<%block name="content">

  <section class="doc">
    <h1>Pricing</h1>
    <p class="subtitle">Infinit provides a free community version and an enterprise license with additional features.</p><br>

    <div class="version community">
      <img src="${url('images/icons/community.png')}" alt="Community version"><br>
      <h2>Community</h2><br>
      <a href="${route('doc_get_started')}" class="button">Get Started</a>
      <ul>
        <li>
          <img src="${url('images/icons/users.png')}" alt="Infinit Users">
          <span>Unlimited Users</span>
        </li>
        <li>
          <img src="${url('images/icons/network.png')}" alt="Infinit Networks">
          <span>Unlimited Clusters</span>
        </li>
      </ul>
      <hr>
      <p>NBD interface (block)</p>
      <p>Amazon S3 interface (object)</p>
      <p>FUSE & Dokan interfaces (file)</p>
      <p>Block size policy</p>
      <p>Encryption policy</p>
      <p>Replication policy</p>
      <p>Read/write access control</p>
      <p>Hierarchical access control groups</p>
      <p>Agnostic data placement policy</p>
      <p>Unlimited file size</p>
      <p>Unlimited storage capacity*</p>
      <p>Basic Support</p>
    </div>

    <div class="version enterprise">
      <img src="${url('images/icons/enterprise.png')}" alt="Enterprise version"><br>
      <h2>Enterprise</h2><br>
      <a class="button border black disabled">Coming Soon</a>
      <ul>
        <li class="hub">
          <img src="${url('images/icons/server-yellow.png')}" alt="On Premise Hub">
          <span>On-Premise Hub</span>
        </li>
        <li class="connectors">
          <img src="${url('images/icons/interface.png')}" alt="Advanced Features">
          <span>Advanced Functionalities</span>
        </li>
      </ul>
      <hr>
      <p><strong>Everything from Community +</strong></p>
      <p>iSCSI and FCoE interfaces (block)</p>
      <p>OpenStack Swift and GCS interfaces (object)</p>
      <p>SMB, NFS and CBFS interfaces (file)</p>
      <p>Erasure coding policy</p>
      <p>Versioning policy</p>
      <p>Compression policy</p>
      <p>Deduplication policy</p>
      <p>Data placement policies: rack-aware & datacenter-aware</p>
      <p>LDAP & Active Directory</p>
      <p>Snapshots</p>
      <p>Admininistrator</p>
      <p>Device Management</p>
      <p>Key Management</p>
      <p>Quotas</p>
      <p>Monitoring</p>
      <p>Priority Support</p>
      <p>Consulting & Training</p>
    </div>

    <em>* Storage capacity fees are not included.</em>

  </section>

</%block>
