<%inherit file="/base.html"/>

<%block name="content">

  <section class="doc">
    <h1>Pricing</h1>

    <div class="plan">
      <h2>
        <img src="${url('images/icons/startup.png')}" alt="Startup">
        Startup
      </h2>
      <p>Up to <strong>20</strong> users</p>
      <p><strong>1</strong> integration</p>
      <p>Public, private or hybrid infrastructure</p>
      <p>Unlimited volumes</p>
      <p>
        Bank-level encryption
        <span>(in-transit and at-rest)</span>
      </p>
      <p>Read/write access control</p>
      <p>Unlimited storage capacity *</p>
      <p>Unlimited number of devices per user</p>
      <p>Unlimited file size</p>
      <p>
        Free desktop apps
        <span>(Windows, Mac, Linux)</span>
      </p>
      <p>
        Free mobile apps #
        <span>(iOS, Android)</span>
      </p>
    </div>

    <div class="plan">
      <h2>
        <img src="${url('images/icons/business.png')}" alt="Business">
        Business
      </h2>
      <p>Up to <strong>100</strong> users</p>
      <p><strong>3</strong> integrations</p>
      <p>Public, private or hybrid infrastructure</p>
      <p>Unlimited volumes</p>
      <p>
        Bank-level encryption
        <span>(in-transit and at-rest)</span>
      </p>
      <p>Read/write access control</p>
      <p>Unlimited storage capacity *</p>
      <p>Unlimited number of devices per user</p>
      <p>Unlimited file size</p>
      <p>
        Free desktop apps
        <span>(Windows, Mac, Linux)</span>
      </p>
      <p>
        Free mobile apps #
        <span>(iOS, Android)</span>
      </p>
      <p>Default access permissions</p>
      <p>Versioning</p>
      <p>Groups</p>
      <p>Premium Support</p>
    </div>

    <div class="plan">
      <h2>
        <img src="${url('images/icons/enterprise.png')}" alt="Enterprise">
        Enterprise
      </h2>
      <p>Up to <strong>100</strong> users</p>
      <p><strong>Unlimited</strong> integrations</p>
      <p>Public, private or hybrid infrastructure</p>
      <p>Unlimited volumes</p>
      <p>
        <strong>Military</strong>-level encryption
        <span>(in-transit and at-rest)</span>
      </p>
      <p>Read/write access control</p>
      <p>Unlimited storage capacity *</p>
      <p>Unlimited number of devices per user</p>
      <p>Unlimited file size</p>
      <p>
        Free desktop apps
        <span>(Windows, Mac, Linux)</span>
      </p>
      <p>
        Free mobile apps #
        <span>(iOS, Android)</span>
      </p>
      <p>Default access permissions</p>
      <p>Versioning</p>
      <p>Groups</p>
      <p>Priority Support</p>
      <p>Monitoring</p>
      <p>Analytics</p>
      <p>On-premise setup</p>
      <p>LDAP/AD integration</p>
      <p>Device management</p>
      <p>Dynamic redundancy control</p>
      <p>Storage migration</p>
      <p>NFS/Samba interface</p>
    </div>

  </section>


  <section class="estimation doc">
    <h2>Estimate and compare</h2>
    <p class="subtitle">Choose the number of users and the storage capacity you need.</p>

    <div class="controls">
      <input type="text" name="users" id="usersInput" data-slider="true" data-slider-range="1, 100" data-slider-step="1" value="20">
      <label for="usersInput" id="usersLabel"><span>20</span> users</label>

      <input type="text" name="capacity" id="capacityInput" data-slider="true" data-slider-range="0.5, 20" data-slider-step="0.5" value="1">
      <label for="capacityInput" id="capacityLabel"><span>1</span> TB</label>
    </div>

    <table>
      <tr>
        <th data-service="infinit"><img src="${url('images/logo.png')}" alt="Logo Infinit"></th>
        <th data-service="dropbox" data-max-capacity="1"><img src="${url('images/logos/dropbox-logotype.png')}" alt="Logo Dropbox"></th>
        <th data-service="aerofs"><img src="${url('images/logos/aerofs.png')}" alt="Logo AeroFS"></th>
        <th data-service="egnyte" data-max-capacity="10" data-start-at="8"><img src="${url('images/logos/egnyte.png')}" alt="Logo Egnyte"></th>
      </tr>
      <tr>
        <td data-service="infinit">No file size limit</td>
        <td data-service="dropbox">10 GB file size limit</td>
        <td data-service="aerofs">Unknown file size limit</td>
        <td data-service="egnyte">10 GB file size limit</td>
      </tr>
      <tr>
        <td data-service="infinit">Public/private/hybrid cloud</td>
        <td data-service="dropbox">Public cloud</td>
        <td data-service="aerofs">Private cloud</td>
        <td data-service="egnyte">Public/crivate cloud</td>
      </tr>
      <tr>
        <td data-service="infinit">In-transit and at-rest encryption</td>
        <td data-service="dropbox">In-transit encryption</td>
        <td data-service="aerofs">In-transit and at-rest encryption</td>
        <td data-service="egnyte">In-transit and at-rest encryption</td>
      </tr>
      <tr class="price">
        <td data-service="infinit">$<span data-price="9" data-free-until="20" data-price-gb="0.01"></span>/year</td>
        <td data-service="dropbox">$<span data-price="12"></span>/year</td>
        <td data-service="aerofs">$<span data-price="12" data-price-gb="0.13" data-free-until="30"></span>/year</td>
        <td data-service="egnyte">$<span data-price="8" data-price-max="15"></span>/year</td>
      </tr>
    </table>
  </section>

</%block>