<%inherit file="/base.html"/>

<%block name="content">

  <div class="features">

    <div class="wrapper">

      <section class="resilient">
        <h1>An Elastic Platform</h1>

        <div class="schema">

          <p class="controls">
            <a id="play" href="#">
              <img src="${url('images/icons/play.png')}" alt="Play">Play Demo
            </a>
            <a id="replay" href="#">
              <img src="${url('images/icons/replay.png')}" alt="Replay">Replay
            </a>
          </p>

          <div class="figure">
            <hr>

            <div class="node" id="nodeA">
              <span class="name">Node A</span><br>
              <span class="block"></span>
            </div>

            <div class="node" id="nodeB">
              <span class="name">Node B</span><br>
              <span class="block"></span>
              <span class="block copy"></span>
            </div>

            <div class="node" id="nodeC">
              <span class="name">Node C</span><br>
              <span class="block"></span>
            </div>

            <div class="node" id="nodeD">
              <span class="name">Node D</span><br>
            </div>

            <div class="node" id="nodeE">
              <span class="name">Node E</span><br>
            </div>

            <div class="node" id="nodeF">
              <span class="name">Node F</span>
            </div>

            <div class="node" id="nodeG">
              <span class="name">Node G</span><br>
            </div>
          </div>

          <p id="legend">In this scenario, an Infinit cluster composed of 5 nodes maintains 3 redundant copies of a given piece of data.</p>

          <div class="steps">
            <p id="step2"><strong>1</strong> Node C crashes with one of the 3 copies.</p>
            <p id="step3"><strong>2</strong> Infinit ejects the failed node.</p>
            <p id="step4"><strong>3</strong> Infinit automatically replicates the missing copy onto another node.</p>
            <p id="step5"><strong>4</strong> Two new nodes join the network.</p>
            <p id="step6"><strong>5</strong> A copy is rebalanced to one of the new nodes.</p>
          </div>
        </div>
      </section>
    </div>

    <section class="decentralized">
      <div>
        <hr><br><br><br>
        <h3>Scalable Model</h3>
        <p>Unlike most distributed systems relying on a master/slave model (also known as leader/follower), Infinit benefits from a truly decentralized architecture.</p>
        <p>This model protects Infinit from single points of failure and bottlenecks while allowing for better scalability and performance.</p>
      </div>
    </section>

    <section class="replication">
      <div>
        <hr><br><br><br>
        <h3>Resilient Architecture</h3>
        <p>Every data item can be stored redundantly in order to allow for Infinit to tolerate failures being software bugs, hardware crashes and more.</p>
        <p>Should a failure occur, Infinit will automatically self-heal by recreating the missing redundant copies in order to quickly get back to a healthy state.</p>
      </div>
    </section>

    <section class="programmatic">
      <div class="wrapper">
        <h2>Customizable Through Policies</h2>

        <div>
          <img src="${url('images/icons/redundancy-yellow-big.png')}">
          <div>
            <h3 id="secure">Redundancy</h3>
            <p>Choose the redundancy policy of your choice (replication, erasure coding or none at all) and configure it: replication factor etc.</p>
          </div>
        </div>

        <div>
          <img src="${url('images/icons/lock-yellow-big.png')}">
          <div>
            <h3 id="secure">Encryption</h3>
            <p>While data in transit is always encrypted, you can decide to activate the encryption policy for every data item to be encrypted at rest (RSA/AES-256).</p>
          </div>
        </div>

        <div>
          <img src="${url('images/icons/compression-yellow-big.png')}">
          <div>
            <h3 id="secure">Compression</h3>
            <p>Activate compression to reduce storage consumption should the nature of the data being stored be adapted.</p>
          </div>
        </div>

        <div>
          <img src="${url('images/icons/fault-tolerance-yellow-big.png')}">
          <div>
            <h3 id="secure">Data Placement</h3>
            <p>Control the placement of the redundant pieces of data through several policies to prevent critical scenarios: rack-aware, region-aware (different data centers) etc.</p>
          </div>
        </div>

        <div>
          <img src="${url('images/icons/deduplication-yellow-big.png')}">
          <div>
            <h3 id="secure">Deduplication</h3>
            <p>Provides a way to activate deduplication in order to store identical pieces of data only once, hence further reducing storage consumption.</p>
          </div>
        </div>

        <div>
          <img src="${url('images/icons/versioning-yellow-big.png')}">
          <div>
            <h3 id="versioning">Versioning</h3>
            <p>Allow one to browse through the history of a file/directory/object and to rollback to a specific version if necessary.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="interfaces programmatic">
      <div class="wrapper">
        <h2>For Each Use Case its Logic</h2>

        <div>
          <img src="${url('images/icons/block-device.png')}">
          <h3 id="secure">Block Device</h3>
          <p>Deploy a low-level virtual block device that can be formatted in the file system of your choice (ext4, NTFS etc.) and used for a single node to access it.</p>
        </div>

        <div>
          <img src="${url('images/icons/file.png')}">
          <h3 id="secure">File System</h3>
          <p>A POSIX-compliant hierarchical organization of files and folders that can be concurrently accessed from multiple client nodes.</p>
        </div>

        <div>
          <img src="${url('images/icons/object-storage.png')}">
          <h3 id="secure">Object Storage</h3>
          <p>Use an object storage interface (Amazon S3, OpenStack Swift etc.) to access and store large amounts of unstructured data a.k.a <em>blobs</em>.</p>
        </div>
      </div>
    </section>

    <div class="cta">
      <a class="button" href="${route('doc_get_started')}">Get Started</a>
    </div>
  </div>

</%block>
