<%inherit file="/base.html"/>

<%block name="content">

  <div class="features">

    <div class="wrapper">

      <section class="resilient">
        <h1>A Resilient, Scalable Architecture</h1>

        <div class="schema">

          <p class="controls">
            <a id="play" href="#">
              <img src="${url('images/icons/play.png')}" alt="Play">Play Demo
            </a>
            <a id="replay" href="#">
              <img src="${url('images/icons/replay.png')}" alt="Replay">Replay
            </a>
          </p>
   
          <div class="figure">
            <hr>

            <div class="node" id="nodeA">
              <span class="name">Node A</span><br>
              <span class="block"></span>
            </div>

            <div class="node" id="nodeB">
              <span class="name">Node B</span><br>
              <span class="block"></span>
              <span class="block copy"></span>
            </div>

            <div class="node" id="nodeC">
              <span class="name">Node C</span><br>
              <span class="block"></span>
            </div>

            <div class="node" id="nodeD">
              <span class="name">Node D</span><br>
            </div>

            <div class="node" id="nodeE">
              <span class="name">Node E</span><br>
            </div>

            <div class="node" id="nodeF">
              <span class="name">Node F</span>
            </div>

            <div class="node" id="nodeG">
              <span class="name">Node G</span><br>
            </div>
          </div>

          <p id="legend">An Infinit network is composed of 5 nodes with 3 redundant copies.</p>

          <div class="steps">
            <p id="step2"><strong>1</strong> Node C crashes with one of the 3 copies.</p>
            <p id="step3"><strong>2</strong> Infinit ejects the failed node.</p>
            <p id="step4"><strong>3</strong> Infinit automatically replicates the missing copy onto another node.</p>
            <p id="step5"><strong>4</strong> Two new nodes join the network.</p>
            <p id="step6"><strong>5</strong> A copy is rebalanced to one of the new nodes.</p>
          </div>
        </div>
      </section>
    </div>

    <section class="decentralized">
      <div>
        <hr><br><br><br>
        <h3>Decentralized Architecture</h3>
        <p>Unlike most distributed systems relying on a master/slave model, Infinit benefits from a truly decentralized architecture (peer to peer).</p>
        <p>This model protects Infinit from single points of failure and bottlenecks.</p>
      </div>
    </section>

    <section class="replication">
      <div>
        <hr><br><br><br>
        <h3>Fault tolerant and self-healing</h3>
        <p>Every data item is stored several times (configurable by the administrator) in order to ensure durability.</p>

        <p>Should a failure occur, Infinit will automatically adapt the number of redundant copies to return to a healthy state.</p>
      </div>
    </section>

    <section class="programmatic">
      <div class="wrapper">
        <h2>Programmable For Your Applications</h2>

        <div>
          <img src="${url('images/icons/redundancy-yellow-big.png')}">
          <div>
            <h3 id="secure">Redundancy</h3>
            <p>Choose between a replication system by giving a replication factor, erasure coding or none.</p>
          </div>
        </div>

        <div>
          <img src="${url('images/icons/lock-yellow-big.png')}">
          <div>
            <h3 id="secure">Encryption</h3>
            <p>If activated, all the data items stored are encrypted (RSA/AES-256) and an access control mechanism is provided to manage keys.</p>
          </div>
        </div>

        <div>
          <img src="${url('images/icons/compression-yellow-big.png')}">
          <div>
            <h3 id="secure">Compression</h3>
            <p>Activate compression to reduce storage consumption depending on the nature of the data being stored.</p>
          </div>
        </div>

        <div>
          <img src="${url('images/icons/fault-tolerance-yellow-big.png')}">
          <div>
            <h3 id="secure">Data Placement</h3>
            <p>Control the placement of the redundant pieces of data through several policies: rack-aware, region-aware (different data centers), etc.</p>
          </div>
        </div>

        <div>
          <img src="${url('images/icons/deduplication-yellow-big.png')}">
          <div>
            <h3 id="secure">Deduplication</h3>
            <p>Provide a policy to activate deduplication in order to avoid storing identical pieces of data.</p>
          </div>
        </div>

        <div>
          <img src="${url('images/icons/versioning-yellow-big.png')}">
          <div>
            <h3 id="versioning">Versioning</h3>
            <p>Browse through the different versions of a file and rollback if necessary.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="interfaces programmatic">
      <div class="wrapper">
        <h2>Adapt to your needs</h2>

        <div>
          <img src="${url('images/icons/block-device.png')}">
          <h3 id="secure">Block Device</h3>
          <p>Deploy low level virtual block device interfaces that can be formatted in the file system of your choice (ext4, NTFS, etc.) and used for non-competition flows such as databases.</p>
        </div>

        <div>
          <img src="${url('images/icons/file.png')}">
          <h3 id="secure">File System</h3>
          <p>Access a hierarchical organization of files through POSIX-compliant file system interfaces that provide advanced functionalities such as access control, versioning, etc.</p>
        </div>

        <div>
          <img src="${url('images/icons/object-storage.png')}">
          <h3 id="secure">Object Storage</h3>
          <p>Use an object storage interface (Amazon S3, OpenStack Swift) to access and store unstructured data items aka blobs.</p>
        </div>
      </div>
    </section>

    <div class="cta">
      <a class="button" href="${route('doc_get_started')}">Get Started</a>
    </div>
  </div>

</%block>
