<%inherit file="/base.html"/>

<%block name="content">

  <section class="doc">
    <h1>Increase your revenue and user retention</h1>
    <p class="subtitle">Integrate a cloud file storage solution in order to create additional value to existing subscriptions.</p>

    <div class="cloud_solutions">
      <img src="${url('images/infinit-cloud-solutions.png')}" alt="Infinit Cloud Solutions">
      <h2 class="title">Infinit Cloud Solutions</h2>
      <p>The Infinit Cloud Solutions provide software developers, device manufacturers and network operators with a complete suite of secure infrastructure, APIs and end-user applications that enable you to offer file storage, sharing, backup and collaboration within your suite of existing services.</p>

      <div class="apps">
        <img src="${url('images/custom-branded-apps.png')}" alt="Branded Apps">
      </div>
    </div>

    <div class="cloud_system">
      <h2 class="title">
        <img src="${url('images/icons/infinit-cloud-drive.png')}" alt="Logo Infinit Cloud Drive">
        Infinit Cloud Drive
      </h2>
      <p>A low-level virtual disk drive that can be custom branded to provide your clients with a natural way to store and access their files from anywhere.</p>
      <p>Through the Infinit Cloud Drive, users have the impression to access the files as if they were stored locally, providing a perfect “as usual” experience.</p>
    </div>

    <div class="custom_apps">
      <h2 class="title">
        <img src="${url('images/icons/infinit-cloud-apps.png')}" alt="Logo Infinit Cloud Apps">
        Infinit Cloud Apps
      </h2>
      <p>A complete set of white label applications for desktop (MacOS X, Windows and Linux) and mobile (iOS and Android).</p>
      <p>Through these applications, any business has the means to provide their users with a perfect cloud storage experience without the cost and complexity of building such applications in house.</p>
    </div>
  </section>

  <section class="benefits">
    <div class="increase">
      <h3>Maintain Competivity</h3>
      <p>Increase your market share by developing additional high-value services.</p>
    </div>

    <div class="increase">
      <h3>Increase Loyalty</h3>
      <p>Retain users on your services by providing file storage, access and sharing from within your services.</p>
    </div>

    <div class="increase">
      <h3>Diversify Revenue</h3>
      <p>Add file storage subscriptions within existing offerings or as an add-on service.</p>
    </div>
  </section>

  <section>
    <form action="${route('contact')}" id="contact_form" method="POST">
      <h2 class="spacer">Find out more about Infinit integration solutions</h2>

      <input type="text" name="first_name" placeholder="First Name*" required>
      <input type="text" name="last_name" placeholder="Last Name*" required>
      <input class="email" type="email" name="email" placeholder="Email*" required>
      <input type="text" name="phone" placeholder="Phone*" required>

      <input type="text" name="company_name" placeholder="Company Name">
      <input type="text" name="company_url" placeholder="Company URL">

      <input type="text" name="country" placeholder="Country">
      <br><br>

      <textarea name="message" required></textarea>

      <button type="submit" class="button">Send</button>
    </form>
  </section>

</%block>