<%inherit file="/base.html"/>

<%block name="content">

  <h1>Upgrade Infinit CLI</h1>
  <p class="subtitle">Get the latest version of our CLI tools.</p>

  <section class="doc">
    <section class="platforms">
      <div class="platform mac">
        <img src="${url('images/icons/apple.png')}">
        <h2>macOS</h2>
        <p><a class="open-popup" href="#mac-homebrew">Update via Homebrew</a></p>
        <p><a class="open-popup" href="#mac-tarball">Update via tarball</a></p>
      </div>

      <div class="platform linux">
        <img src="${url('images/logos/gnu.png')}">
        <h2>GNU/Linux</h2>
        <p><a class="open-popup" href="#linux-apt">Update via apt</a></p>
        <p><a class="open-popup" href="#linux-yum">Update via yum</a></p>
        <hr>
        <p><img src="${url('images/logos/ubuntu.png')}"> <a class="open-popup" href="#debian-tarball">Update via Ubuntu tarball</a></p>
        <p><img src="${url('images/logos/debian.png')}"> <a class="open-popup" href="#debian-tarball">Update via Debian tarball</a></p>
        <p><img src="${url('images/logos/alpine.png')}"> <a class="open-popup" href="#alpine-tarball">Update via Alpine tarball</a></p>
        <p><img src="${url('images/logos/raspberry.png')}"> <a class="open-popup" href="#raspberry-tarball">Update via Raspberry (ARM) tarball</a></p>
      </div>

      <div class="platform windows">
        <img src="${url('images/icons/windows.png')}">
        <h2>Windows</h2>
        <p><a class="open-popup" href="#windows">Update via tarball</a></p>
      </div>
    </section>

    <p class="legal"><strong>NOTE:</strong> Read more <a href="${route('doc_upgrading')}">in the documentation</a> on how to upgrade an Infinit network to a newer version.</p>
  </section>

  <div class="popup" id="mac-homebrew">
    <section class="doc">
      <br><h3>Upgrade to Infinit ${tarball_version} via Homebrew</h3>
      <p>With brew installed, just run the following commands:</p>
      <pre><code>$> brew update</code></pre>
      <pre><code>$> brew upgrade infinit</code></pre>
    </section>
  </div>

  <div class="popup" id="mac-tarball">
    <section class="doc">
      <br><h3>Upgrade to Infinit ${tarball_version}</h3>
      <%include file='docs/generated/get_started/mac_tarball_install.html'/>
      <p>Then, extract the Infinit tarball and simply replace your old installation with the new content.</p>
    </section>
  </div>

  <div class="popup" id="linux-apt">
    <section class="doc">
      <br><h3>Upgrade to Infinit ${tarball_version} via our apt repository</h3>
      <p>On a Debian-based distribution, simply run the following command:</p>
      <pre><code>$> apt-get install infinit
...
Unpacking infinit (${tarball_version})...</code></pre>
    </section>
  </div>

  <div class="popup" id="linux-yum">
    <section class="doc">
      <br><h3>Upgrade to Infinit ${tarball_version} via our yum repository</h3>
      <p>On a CentOS distribution, simply run the following command:</p>
      <pre><code>$> yum update infinit
...
Unpacking infinit (${tarball_version})...</code></pre>
    </section>
  </div>

  <div class="popup" id="debian-tarball">
    <section class="doc">
      <br><h3>Upgrade to Infinit ${tarball_version}</h3>
      <%include file='docs/generated/get_started/linux_tarball_install.html'/>
      <p>Then, extract the Infinit tarball and simply replace your old installation with the new content.</p>
    </section>
  </div>

  <div class="popup" id="alpine-tarball">
    <section class="doc">
      <br><h3>Upgrade to Infinit ${tarball_version}</h3>
      <%include file='docs/generated/get_started/linux_alpine_install.html'/>
      <p>Then, extract the Infinit tarball and simply replace your old installation with the new content.</p>
    </section>
  </div>

  <div class="popup" id="raspberry-tarball">
    <section class="doc">
      <br><h3>Upgrade to Infinit ${tarball_version}</h3>
      <%include file='docs/generated/get_started/linux_arm_install.html'/>
      <p>Then, extract the Infinit tarball and simply replace your old installation with the new content.</p>
    </section>
  </div>

  <div class="popup" id="windows">
    <section class="doc">
      <br><h3>Upgrade to Infinit ${tarball_version}</h3>
      <%include file='docs/generated/get_started/windows_tarball_install.html'/>
      <p>Then, extract the Infinit tarball and simply replace your old installation with the new content.</p>
    </section>
  </div>

</%block>